{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
    frame: false,
}) }}

<script nonce="{{ settings.nonce }}">
    $(function ( ) {

        $('a.refresh-geolocation').click(function (event) {

            $.ajax({
                url: "https://maps.googleapis.com/maps/api/geocode/json",
                data: {
                    address: $('#zipcode').val() + " " + $('#city').val() + ", " + $('#street').val() + " " + $('#streetNumber').val(),
                    key: "{{ plugin.getConfig('googleMapsApiKey') | default(configuration.get('addresses.google.geolocation.apiKey')) | raw }}"
                },
                success: function (response) {

                    console.log(response);

                    $('#lat').val(response.results[0].geometry.location.lat);
                    $('#lng').val(response.results[0].geometry.location.lng);
                }
            });
        });
    });
</script>

<form method="post" class="ajax" action="{{ v.getStaticUri('Core/Addresses/AssetManager', 'ajaxUpdate', { addressId: address.getId() }) }}">

    <div class="modal-body">

        <div class="form-group">
            <label for="title">Titel</label>
            <input type="text" class="form-control" name="title" required id="title" placeholder="Titel" value="{{ address.getTitle() }}">
        </div>

        <div class="form-row">
            <div class="form-group col-8">
                <label for="street">Straße</label>
                <input type="text" class="form-control" name="street" id="street" placeholder="Straße" value="{{ address.getStreet() }}">
            </div>
            <div class="form-group col-4">
                <label for="number">Nummer</label>
                <input type="text" class="form-control" name="number" id="number" placeholder="Nr." value="{{ address.getStreetNumber() }}">
            </div>
        </div>

        <hr />

        <div class="form-row">
            <div class="form-group col-4">
                <label for="zipcode">PLZ</label>
                <input type="text" class="form-control" name="zipcode" id="zipcode" placeholder="PLZ" value="{{ address.getZipcode() }}">
            </div>
            <div class="form-group col-8">
                <label for="city">Ort</label>
                <input type="text" class="form-control" name="city" id="city" placeholder="Ort" value="{{ address.getCity() }}">
            </div>
        </div>
        <div class="form-group">
            <label for="country">Land</label>
            <input type="text" class="form-control" name="country" id="country" placeholder="Land" value="{{ address.getCountry() }}">
        </div>

        <hr />

        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="E-Mail" value="{{ address.getEmail() }}">
        </div>
        <div class="form-group">
            <label for="phone">Telefon</label>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Telefon" value="{{ address.getPhone() }}">
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lat">Breitengrad (Lat)</label>
                    <input type="text" class="form-control" name="lat" id="lat" placeholder="Breitengrad" value="{{ address.getLat() }}">
                    <small id="emailHelp" class="form-text text-muted refresh-geolocation"><a class="refresh-geolocation" href="#">aktualisieren</a></small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lng">Längengrad (Lng)</label>
                    <input type="text" class="form-control" name="lng" id="lng" placeholder="Längengrad" value="{{ address.getLng() }}">
                </div>
            </div>
        </div>

        <script nonce="{{ settings.nonce }}">
            $(function() {
                $('#lat').change(function() {

                    let match = $(this).val().match(/^(.*?)\,(.*?)$/);

                    if (match) {
                        $('#lat').val($.trim(match[1]));
                        $('#lng').val($.trim(match[2]));
                    }
                });
            });
        </script>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>

</form>
