{# config

title: Kacheln
variables:
    withContainer:
        type: bool
        label: mit Layout-Container

/config #}

{% set b = view.getViewhelper('Breadcrumb', { singleton: true }) %}

{{ b.addSection(reference.getTitle(), reference.getUri()) }}

<param name="cloak" value="1" />
<param name="layout" value="Default" />

{{ view.set('overrideImageUid', reference.getUid('image')) }}
{{ view.set('hideGlobalBlocks', true) }}
{{ view.set({ pagedata: { title: reference.getTitle() } }) }}

{{ view.addBreadcrumb(reference.getTitle(), reference.getUri()) }}

<div class="plugin Core Images References ShowReference01">

    {% if variables.withContainer %}<div class="container">{% endif %}

        <div class="row">
            <div class="col-md-12">

                <h2 class="first main-title" data-editable data-uid="{{ reference.getUid('title') }}">{{ reference.getTitle }}</h2>

                <div class="teaser-text" data-editable data-uid="{{ reference.getUid('teaser') }}"></div>

                <div data-editable data-uid="{{ reference.getUid('text') }}"></div>

            </div>
        </div>

    {% if variables.withContainer %}</div>{% endif %}

    <div data-blocks data-label="Blöcke zur Referenz" data-uid="{{ reference.getUid('block-content') }}"></div>

</div>
