{# config

title: Standard
variables:
    img_width:
        type: int
        label: Bildbreite
        default: 350
    img_height:
        type: int
        label: Bildhöhe
        default: 200
    columns:
        type: int
        label: Spalten
        default: 2

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

{% if variables.columns == 1 %}
    {% set colClass = "col-12" %}
{% elseif variables.columns == 2 %}
    {% set colClass = "col-md-6" %}
{% elseif variables.columns == 3 %}
    {% set colClass = "col-sm-6 col-md-4" %}
{% elseif variables.columns >= 4 %}
    {% set colClass = "col-lg-3 col-md-6" %}
{% endif %}

<div class="row">
    <div class="col-12 plugin Core ShopSystem SubCategories Index01">

        {% if plugin.isFirst %}
            <h1 data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h1>
        {% else %}
            <h2 data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>
        {% endif %}

        <div data-editable data-uid="{{ plugin.getUid('teaser') }}"></div>

        <div class="row justify-content-md-center">

            {% for child in category.getChildrenVisible() %}

                <div class="{{ colClass }} teaser" data-href>

                    <a href="{{ child.getUri() }}">
                        <picture data-editable data-uid="{{ child.getUid('image')}}">
                            <img class="teaser-image" width="{{ variables.img_width }}" height="{{ variables.img_height }}" src="{{ i.getDummyImage({ width: variables.img_width, height: variables.img_height }) }}" alt="" />
                        </picture>
                    </a>

                    <h4 data-editable data-uid="{{ child.getUid('title')}}">{{ child.getTitle() }}</h4>
                </div>

            {% endfor %}

        </div>

        <div data-editable data-uid="{{ plugin.getUid('text-bottom') }}"></div>

    </div>
</div>

