{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set t = i.getTranslator() %}
{% set b = view.getViewhelper('Breadcrumb', { singleton: true }) %}

{% set formRenderer = view.getViewhelper('Ext/Core/ContactForms/FormRenderer', {  }) %}

{{ b.addSection(product.getTitle(), product.getUri()) }}
{{ b.addSection('Produkt-Anfrage') }}

{{ view.set({ pagedata: { robots: "noindex" } }) }}

<div class="wave white plugin Core ShopSystem ShopSystem ProductRequest01">

    <div class="container">
        <div class="row">
            <div class="col-12">

                {% if plugin.isFirst %}
                    <h1 data-editable data-uid="{{ plugin.getUid('request-title') }}">Produkt-Anfrage</h1>
                {% else %}
                    <h2 data-editable data-uid="{{ plugin.getUid('request-title') }}">Produkt-Anfrage</h2>
                {% endif %}

                <br />

                <div class="row">
                    <div class="col-md-6">

                        <h3 data-editable data-uid="{{ plugin.getUid('request-title-product') }}">Artikel</h3>

                        <h4>{{ product.getTitle() }}</h4>
                        <br />

                        <picture class="fluid" data-editable data-uid="{{ product.getUid('image')}}">
                            <img width="700" height="500" src="{{ i.getDummyImage({ width: 700, height: 500 }) }}" alt="" />
                        </picture>

                        <br />

                        <div data-editable data-nowidgets data-uid="{{ product.getUid('teaser') }}"></div>

                    </div>
                    <div class="col-md-6">

                        <h3>Ihre Anfrage</h3>

                        {{ formRenderer.render({
                            plugin: plugin,
                            formId: plugin.getConfig('formId'),
                            payload: {
                                'Produkt': product.getTitle(),
                            }
                        }) | raw }}

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>