{# config

title: Standard
variables:
    skipSharing:
        type: bool
        label: ohne Teilen
    withContainer:
        label: mit Layout-Container
        type: bool
        default: false
    skipTopImage:
        label: ohne großes Artikel-Bild
        type: bool

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set b = view.getViewhelper('Breadcrumb', { singleton: true }) %}
{% set text = view.getViewhelper('Text') %}
{% set t = i.getTranslator() %}
{% set h = view.getViewhelper('Hreflang', { singleton: true }) %}

{{ b.addSection(article.getTitle(globalLanguage), article.getUri()) }}

{{ view.set({ pagedata: { title: article.getTitle(globalLanguage) } }) }}

{% set image = article.getFileByUid('image') %}

{% if  image %}
    {{ view.set({ pagedata: { ogImage: image } }) }}
{% endif %}

{{ view.set({ pagedata: { ogTitle: article.getTitle(globalLanguage) } }) }}
{{ view.set({ pagedata: { ogDescription: text.getTextByUid(article.getUid('teaser')).getText() } }) }}

{% set a = view.getViewhelper('Ext/Core/System/Assets', {   }) %}

{{ a.import('https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css') | raw }}
{{ a.import('https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js') | raw }}

{% for language, xalias in article.getLanguageAliases() %}
    {{ h.addItem(language, xalias) }}
{% endfor %}

<param name="cloak" value="1" />

{% if variables.withContainer %}<div class="container">{% endif %}

<div class="row">
    <div class="col-12 plugin Core News News ShowArticle01">

        <div class="inner-wrapper">

            {% if plugin.isFirst %}
                <h1 data-editable data-uid="{{ article.getUid('title') }}">{{ article.getTitle }}</h1>
            {% else %}
                <h2 data-editable data-uid="{{ article.getUid('title') }}">{{ article.getTitle }}</h2>
            {% endif %}

            <p class="backlink"><a href="{{ page.getUri() }}">{{ t.translate('Back') }}</a></p>

            {% if not variables.skipTopImage %}
                <figure data-type="Images/PictureFull" data-uid="{{ article.getUid('image')}}">
                    <picture class="fluid">
                        <img width="1110" src="{{ i.getDummyImage({ width: 1110, height: null }) }}" alt="" />
                    </picture>
                    <figcaption></figcaption>
                </figure>
            {% endif %}

            <div class="content-teaser">
                <div data-nowidgets data-editable data-uid="{{ article.getUid('teaser') }}"></div>
            </div>

            <hr />

            <div data-editable data-uid="{{ article.getUid('text') }}"></div>



            {% set articles = i.getArticles({ limit: 5, skip: [ article.getId() ] }) %}

            <br />

            <h3>{{ t.translate('MoreArticles') }}</h3>

            <nav class="articles-subnavigation">
                {% for subarticle in articles %}
                    <a class="read-more" href="{{ subarticle.getUri }}">
                        {{ subarticle.getTitle }}
                    </a>
                {% endfor %}
            </nav>

            {%  if articles.getTotal > articles.getCount %}
                <p><a class="read-more" href="{{ plugin.getUri }}">mehr Artikel in der Übersicht</a></p>
            {% endif %}

            {% if not variables.skipSharing %}
                {% set articleUrl = article.getUri({ absolute: true }) %}

                <nav class="social-sharing">

                    <h4>{{ t.translate('ShareArticle') }}</h4>

                    <a data-toggle="tooltip" data-placement="bottom" title="Artikel teilen auf Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ articleUrl | url_encode }}"><i class="fab fa-facebook"></i></a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Artikel teilen auf Twitter" target="_blank" href="https://twitter.com/home?status={{ articleUrl | url_encode }}"><i class="fab fa-twitter"></i></a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Artikel teilen auf Xing" target="_blank" href="https://www.xing.com/spi/shares/new?url={{ articleUrl | url_encode }}"><i class="fab fa-xing"></i></a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Artikel teilen auf LinkedIn" target="_blank" href="https://www.linkedin.com/share?id={{ articleUrl | url_encode }}"><i class="fab fa-linkedin"></i></a>

                    {% if image %}
                        <a data-toggle="tooltip" data-placement="bottom" title="Artikel teilen auf Pinterest" target="_blank" href="https://pinterest.com/pin/create/button/?media={{ image.getUriThumbnail() | url_encode }}&amp;url={{ articleUrl | url_encode }}&amp;media="><i class="fab fa-pinterest"></i></a>
                    {% endif %}

                    <a data-toggle="tooltip" data-placement="bottom" title="Artikel empfehlen per E-Mail" href="mailto:?subject=Empfehlung&amp;body={{ articleUrl | url_encode }}"><i class="fa fa-envelope"></i></a>

                </nav>
            {% endif %}

        </div>

    </div>
</div>

{% if variables.withContainer %}</div>{% endif %}
