{# config

title: Standard
variables:
    image_width:
        default: 600
        type: int
    image_height:
        default: 300
        type: int

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set p = view.getViewhelper('Partials', { plugin: plugin }) %}

{% if category %}
    {{ view.set('overrideImageUid', category.getUid('image-top') ) }}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-12 plugin Core ShopSystem ShopSystem ShowCategory03">

            {% if plugin.isFirst %}
                <h1 data-editable data-uid="{{ category.getUid('title') }}">{{ category.getTitle }}</h1>
            {% else %}
                <h2 data-editable data-uid="{{ category.getUid('title') }}">{{ category.getTitle }}</h2>
            {% endif %}

            <div class="row products">
                {% for product in category.getItems() %}
                    <div class="col-4 product" data-href="{{ product.getUri() }}">
                        <picture class="fluid" data-editable data-uid="{{ product.getUid('image')}}">
                            <img width="{{ variables.image_width }}" height="{{ variables.image_height }}" src="{{ i.getDummyImage({ width: variables.image_width, height: variables.image_height }) }}" alt="" />
                        </picture>

                        <h5>{{ product.getTitle() }}</h5>

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>