{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{% if references | length > 0 %}

	<h3>Referenzen</h3>

	<table class="table" data-sort="{{ plugin.getAdminUri('Reference', 'ajaxSort') }}">
		<thead>
			<tr>
				<th>Referenz</th>

				{% if plugin.getOrdering() == "Manual" %}<th></th>{% endif %}

				<th></th>
			</tr>
		</thead>
		<tbody>

			{% for reference in references %}

				<tr id="row-{{ reference.getId() }}" class="{% if data.highlight == reference.getId() %}highlighted{% endif %} ajax" data-href="{{ plugin.getAdminUri('Reference', 'details', { referenceId: reference.getId() }) }}">
					<td>
						{{ reference.getTitle() }}

						{% for tag in reference.getTags() %}
							<span class="badge badge-info">{{ tag.getTag() }}</span>
						{% endfor %}
					</td>

					{% if plugin.getOrdering() == "Manual" %}
						<td class="handle" style="cursor: pointer; vertical-align: middle;" width="40"><i class="fa fa-grip-lines"></i></td>
					{% endif %}

					<td class="text-right">
						<a class="ajax" href="{{ v.getUri('Assets', 'ajaxSwitchVisibility', { assetId: reference.getId() } ) }}"><i data-asset="{{ reference.getId() }}" class="fa fa-lightbulb visibility {{ reference.getVisibilityString() }} icon"></i></a>
						<a class="ajax" data-confirm="Soll diese Referenz wirklich gelöscht werden?" href="{{ data.plugin.getAdminUri('Reference', 'ajaxDelete', { referenceId: reference.getId() }) }}"><i class="fa fa-times icon"></i></a>
					</td>
				</tr>

			{% endfor %}

		</tbody>
	</table>

{% endif %}