{# config

title: Standard
variables:
    withContainer:
        type: bool
        label: mit Layout-Container
    cloak:
        type: bool
        default: false
        label: andere Plugins verdrängen
    image_width:
        type: int
        label: Bildbreite
        default: 600
    image_height:
        type: int
        label: Bildhöhe
        default: 300
    thumbnailsPerRow:
        type: int
        label: Mini-Bilder pro Reihe
        default: 4
    useRequestAlternative:
        type: bool
        label: Produkt-Anfrage ermöglichen
        default: false
    showLowerBasketButton:
        type: bool
        default: false
        label: unterer Buchungsbutton
    hideUpperBasketButton:
        type: bool
        default: false
        label: oberern Buchungsbutton ausblenden

/config #}

{% if variables.cloak %}
    <param name="cloak" value="true" />
{% endif %}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set sp = view.getViewhelper('StaticPages') %}
{% set p = view.getViewhelper('Plugins') %}
{% set b = view.getViewhelper('Breadcrumb', { singleton: true }) %}
{% set a = view.getViewhelper('Assets', {   }) %}
{% set partials = view.getViewhelper('Partials', { plugin: plugin }) %}

{% set t = i.getTranslator() %}

{% set basketPlugin = p.getByClass('Frootbox\\Ext\\Core\\ShopSystem\\Plugins\\Checkout\\Plugin') %}

{% if category %}
    {{ b.addSections(category, { skipfirst: true }) }}
{% endif %}

{{ b.addSection(product.getTitle(), product.getUri()) }}


{{ view.set({ pagedata: { title: product.getTitle() } }) }}

{{ view.set({ pagedata: { ogTitle: product.getTitle() } }) }}
{{ view.set({ pagedata: { ogDescription: text.getTextByUid(product.getUid('teaser')).getText() } }) }}
{{ view.set({ pagedata: { canonical: product.getUri({ absolute: true }) } }) }}

{% set image = product.getFileByUid('image') %}

{% if  image %}
    {{ view.set({ pagedata: { ogImage: image } }) }}
{% endif %}

{% if variables.withContainer %}<div class="container">{% endif %}
<script nonce="{{ settings.nonce }}">
    gtag('event', 'view_item', {
        "items": [
            {
                "id": "{{ product.getItemNumber() | default(product.getId()) }}",
                "name": "{{ product.getTitle() }}",
                {% if category %}"category": "{{ category.getTitle() }}",{% endif %}
                "price": "{{ product.getPriceGross() | number_format(2, '.') }}"
            }
        ]
    });
</script>


<div class="plugin Core ShopSystem ShopSystem ShowProduct01">

    <div class="row">
        <div class="col-12">

            {% if plugin.isFirst %}
                <h1 class="first" data-editable data-uid="{{ product.getUid('title') }}">{{ product.getTitle }}</h1>
            {% else %}
                <h2 class="first" data-editable data-uid="{{ product.getUid('title') }}">{{ product.getTitle }}</h2>
            {% endif %}

            <div class="row">

                <div class="order-md-2 col-md-6 panel-right">

                    {% if basketPlugin %}
                        <form method="post" class="shopsystem-product-add-to-cart" action="{{ sp.getUri('Core/ShopSystem/Basket', 'addProduct', { productId: product.getId() }) }}">
                    {% endif %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="price-container">
                                <span class="price-tag">
                                    {{ product.getPriceGross() | number_format(2, ',', '.') }} EUR

                                    {% if product.getConfig('freeChoiceOfAmount') %}
                                        pro {{ ("Core.ShopSystem.Plugins.ShopSystem.UnitShort" ~ product.getPackagingUnit()) | translate }}
                                    {% endif %}
                                </span>
                                <span class="price-meta">
                                    inkl. Mehrwertsteuer<br />

                                    {% if product.getShippingId() %}
                                        zzgl. Versandkosten<br />
                                    {% else %}
                                        inkl. Versandkosten<br />
                                    {% endif %}

                                    {% if 'ShippingState' ~ product.getShippingState() != t.translate('ShippingState' ~ product.getShippingState()) %}
                                        {{ t.translate('ShippingState' ~ product.getShippingState()) }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            {% block basketButton %}
                                {% if not variables.hideUpperBasketButton %}

                                    {% if basketPlugin %}
                                        <!--<a class="btn btn-block btn-primary shopsystem-product-add-to-cart" href="{{ sp.getUri('Core/ShopSystem/Basket', 'addProduct', { productId: product.getId() }) }}">in den Warenkorb legen</a>-->
                                        <button type="submit" class="btn btn-primary btn-block">in den Warenkorb legen</button>
                                    {% elseif variables.useRequestAlternative %}
                                        <a class="btn btn-primary btn-block" href="{{ plugin.getActionUri('productRequest', { productId: product.getId() })}}">{{ t.translate('Request') }}</a>
                                    {% endif %}

                                {% endif %}
                            {% endblock %}

                        </div>
                    </div>

                    <br /><br />

                            <script nonce="{{ settings.nonce }}">

                                var isEditing = {% if settings.isEditor %}true{% else %}false{% endif %};

                                $(function ( ) {

                                    $('.product-options').change(function ( event ) {

                                        $.ajax({
                                            url: "{{ plugin.getUriAjax('getOptionsInStock', { productId: product.getId() }) | raw }}",
                                            data: {
                                                optionId: $(this).val(),
                                                xdata: $('form.shopsystem-product-add-to-cart').serialize(),
                                            },
                                            success: function ( response ) {

                                                $('.product-options option[value!=""]').each(function ( ) {

                                                    if (isEditing) {
                                                        $(this).text($(this).data('title') + ' (0)');
                                                    }
                                                    else {
                                                        $(this).text($(this).data('title'));
                                                    }

                                                    $(this).attr('data-amount', 0);
                                                });

                                                $.each(response.stocks, function(optionId, amount) {

                                                    let option = $('option[value="' + optionId + '"]');

                                                    if (amount > 0) {

                                                        if (isEditing) {
                                                            option.text(option.data('title') + ' (' + amount + ')');
                                                        } else {
                                                            option.text(option.data('title') + ' (verfuegbar)');
                                                        }
                                                    }

                                                    option.attr('data-amount', amount);
                                                });

                                                $('.product-options option:selected').each(function ( ) {

                                                    if ($(this).attr('data-amount') == 0) {
                                                        $(this).parents('select').val('');
                                                    }
                                                });

                                                if (typeof response.selected != 'undefined' && typeof response.selected.price != 'undefined' && typeof response.selected.price > 0) {
                                                    $('.price-tag').html(response.selected.price + ' EUR');
                                                }
                                            }
                                        });
                                    });
                                });
                            </script>

                            {#
                            <div class="form-group">
                                <label for="stockId">Variante</label>
                                <select class="form-control" name="stockId" id="stockId">
                                    {% for stock in product.getStocksFlat() %}
                                        <option value="{{ stock.getId() }}">{{ stock.getFlat() }} ({{ stock.getPrice() | number_format(2, ',', '.') }} EUR)</option>
                                    {% endfor %}
                                </select>
                            </div>
                            #}


                            {% for group in product.getDatasheet().getGroups() %}

                                {% set options = group.getOptionsForProduct(product) %}

                                {% if options | length %}
                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="group_{{ group.getId() }}">{{ group.getTitle() }}</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select required class="form-control product-options" name="options[{{ group.getId() }}]" id="group_{{ group.getId() }}">
                                                    <option value="">bitte wählen ...</option>
                                                    {% for option in options %}

                                                        {% set amount = product.getStocksForOption(option) %}

                                                        {% if amount > 0 %}
                                                            <option {% if options | length == 1 %}selected{% endif %} data-title="{{ option.getTitle() }}{% if option.getSurcharge() %} (+ {{ option.getSurcharge() | number_format(2, ',', '.') }} &euro;){% endif %}" data-amount="{{ amount }}" value="{{ option.getId() }}">{{ option.getTitle() }}{% if option.getSurcharge() %} (+ {{ option.getSurcharge() | number_format(2, ',', '.') }} &euro;){% endif %}{% if settings.isEditor %} ({{ amount }} x){% endif %}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            {% endfor %}


                    {% if product.getVariants().getCount() > 0 %}

                        <div class="variants">

                            {% for variant in product.getVariants() %}
                                <div class="form-group form-check">
                                    <input type="radio" class="form-check-input" name="variant" value="{{ variant.getId() }}" id="variant_{{ variant.getId() }}" {% if loop.index == 1 %}checked{% endif %}>
                                    <label class="form-check-label" for="variant_{{ variant.getId() }}">{{ variant.getTitle() }}, {{ product.getPriceForVariant(variant) | number_format(2, ',', '.') }} EUR </label>
                                </div>
                            {% endfor %}

                        </div>

                    {% endif %}

                    {% if basketPlugin %}
                        </form>
                    {% endif %}


                    {% set fields = product.getFields() %}

                    {% if fields | length > 0 %}
                        <h4 data-editable data-uid="{{ plugin.getUid('title-technicaldata') }}">Technische Daten</h4>

                        <table class="table">
                            <tbody>

                                {% if product.getItemNumber() %}
                                    <tr>
                                        <td nowrap >Artikel-Nummer</td>
                                        <td>{{ product.getItemNumber() }}</td>
                                    </tr>
                                {% endif %}

                                {% for field in fields %}
                                    <tr>
                                        <td>{{ field.getTitle() }}</td>
                                        <td>{{ field.getValueDisplay() }}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}

                    <div data-editables data-editable-files data-uid="{{ product.getUid('files') }}">

                        {% set files = product.getFiles() %}

                        {% if files | length > 0 %}
                            <h4>Downloads</h4>

                            <table class="table">
                                <tbody>
                                    {% for file in files %}
                                        <tr>
                                            <td>
                                                <a href="{{ file.getUriDownload() }}"><i class="fal fa-file-pdf"></i> {{ file.getTitle() }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                    </div>

                    {% if variables.showLowerBasketButton %}

                        {#
                        xx{{ product.getConfig('directLink') }}xxx
                        #}


                        {% if basketPlugin %}
                            <a class="btn btn-block btn-primary shopsystem-product-add-to-cart" href="{{ sp.getUri('Core/ShopSystem/Basket', 'addProduct', { productId: product.getId() }) }}">in den Warenkorb legen</a>
                        {% elseif variables.useRequestAlternative %}
                            <a class="btn btn-primary btn-block" href="{{ plugin.getActionUri('productRequest', { productId: product.getId() })}}">{{ t.translate('Request') }}</a>
                        {% endif %}
                    {% endif %}


                    {%  set equipments = product.getEquipment() %}

                    {%  if equipments | length > 0 %}

                        <h4>Zubehör</h4>

                        <table class="table">
                            <tbody>
                            {% for equipment in equipments %}
                                <tr>
                                    <td>
                                        <a href="{{ equipment.product.getUri() }}">

                                            {% if equipment.noExtraCharge %}inkl. {{ equipment.amount }} x {% endif %}
                                            {{ equipment.product.getTitle() }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    {% endif %}
                </div>
                <div class="order-md-1 col-md-6">

                    {% block images %}
                        <picture class="fluid" data-editable data-uid="{{ product.getUid('image')}}">
                            <img width="{{ variables.image_width }}" height="{{ variables.image_height }}" src="{{ i.getDummyImage({ width: variables.image_width, height: variables.image_height }) }}" alt="" />
                        </picture>

                        {% set images = product.getImages() %}

                        {% if images | length > 0 %}

                            {{ a.import('https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css') | raw }}
                            {{ a.import('https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js') | raw }}

                            {% if variables.thumbnailsPerRow == 4 %}
                                {% set colClass = "col-3" %}
                            {% elseif variables.thumbnailsPerRow == 3 %}
                                {% set colClass = "col-4" %}
                            {% endif %}

                            <div class="row images-gallery">
                                {% for image in images %}
                                    <div class="{{ colClass }}">
                                        <a href="{{ image.getUri() }}" data-fancybox="gallery" data-caption="{{ image.getConfig('caption') }}">
                                            <img class="img-fluid" src="{{ image.getUri() }}" alt="{{ image.getAlt() }}" />
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}


                    <h4>Produktbeschreibung</h4>

                    <div data-editable data-uid="{{ product.getUid('teaser') }}"></div>

                    <div class="second-text" data-editable data-uid="{{ product.getUid('text') }}"></div>

                </div>
            </div>


            {%  set recommendations = product.getRecommendations() %}

            {%  if recommendations | length > 0 %}

                <div class="row">
                    <div class="col-12">

                        <h3 data-editable data-uid="{{ plugin.getUid('title-recommendations') }}">verwandte Produkte</h3>

                        <div class="row recommendations">
                            {% for recommendation in recommendations %}
                                <div class="col-md-3">
                                    {{ partials.renderPartial('/Frootbox/Ext/Core/ShopSystem/Plugins/ShopSystem/ProductTeaser', { product: recommendation.product, i: i }) | raw }}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            {% endif %}



        </div>
    </div>
</div>

{% if variables.withContainer %}</div>{% endif %}
