{# config

title: Tabelle
variables:
    withContainer:
        type: bool
        label: mit Layout-Container
    withAddress:
        type: bool
        label: mit Adresse
    withThumbnail:
        type: bool
        label: mit Portrait
    thumbnailWidth:
        type: int
        label: Bild-Breite
        default: 600
    thumbnailHeight:
        type: int
        label: Bild-Breite
        default: 400

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set p = view.getViewhelper('Partials', { basePath: viewFolder }) %}

{% set icons = view.getViewhelper('Ext/HerrUndFrauPixelExt/Icons/Icons', { createDummyOnFail: true  }) %}

{% set categories = plugin.getTopCategories() %}

<div class="plugin Core HelpAndSupport ContactPersons Index11">
    {% if variables.withContainer %}<div class="container">{% endif %}

        <div class="row">
            <div class="col-12 ">
                <div class="inner-wrapper">

                    <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

                    <div class="top-teaser" data-editable data-uid="{{ plugin.getUid('teaser-text') }}"></div>

                    {% if categories | length > 0 %}

                        {% for category in categories %}
                            {{ p.renderPartial('Category', {
                                category: category,
                                p: p,
                                withThumbnail: variables.withThumbnail,
                                thumbnailWidth: variables.thumbnailWidth,
                                thumbnailHeight: variables.thumbnailHeight,
                                i: i
                            }) | raw }}
                        {% endfor %}

                    {% else %}
                        <div class="row">
                            {% for contact in plugin.getContacts() %}
                                <div class="col-md-4">
                                    {{ p.renderPartial('Vcard', { contact: contact, withThumbnail: variables.withThumbnail }) | raw }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="bottom-teaser" data-editable data-uid="{{ plugin.getUid('teaser-bottom-text') }}"></div>

                </div>
            </div>
        </div>

    {% if variables.withContainer %}</div>{% endif %}
</div>
