{# config

title: Clean
variables:
    cloak:
        type: bool
        default: false
        label: andere Plugins verdrängen

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set partials = view.getViewhelper('Partials') %}

{% set t = i.getTranslator() %}


{{ view.set('hideGlobalBlocks', true) }}

{% if variables.cloak %}
    <param name="cloak" value="true" />
{% endif %}

<div class="plugin Core Addresses AddressDatabase ShowAddress03">

    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2 class="first main-title" data-editable data-uid="{{ address.getUid('title') }}">{{ address.getTitle }}</h2>

                <div data-editable data-uid="{{ address.getUid('text') }}"></div>

            </div>
        </div>
    </div>

    <div data-blocks data-uid="{{ address.getUid('block-content') }}"></div>

</div>
