{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<h2 id="categoriesHead">
    Preisliste
</h2>

<p><a class="ajax" href="{{ v.getUri('Page', 'ajaxPanelContent', { pageId: plugin.getPageId() }) }}"><i class="fa fa-chevron-circle-left"></i> zurück</a></p>

{{ v.injectPartial('\\Frootbox\\Admin\\View\\Partials\\Navigation\\Buttons', { links: [
    {
        url: plugin.getAdminUri('Index', 'index'),
        icon: 'fa-sitemap',
        title: 'Kategorien'
    },
    {
        url: plugin.getAdminUri('Additives', 'index'),
        icon: 'fa-list-ol',
        title: 'Zusatzstoffe'
    }
]}) | raw }}

<div class="row">
    <div class="col-4">

        <h4>Kategorien</h4>

        <script nonce="{{ settings.nonce }}">
            $(function ( ) {

                $(document).on('click', '#categoriesTreeReceiver tr[data-cat]', function ( event ) {

                    if (event.target.nodeName == 'A') {
                        return;
                    }

                    event.preventDefault();
                    event.stopImmediatePropagation();

                    $('#categoriesTreeReceiver tr[data-cat]').removeClass('highlighted');
                    $(this).addClass('highlighted');

                    var categoryId = $(this).attr('data-cat');

                    $.ajax({
                        url: "{{ plugin.getAdminUri('Categories', 'ajaxPanelListEntries') | raw }}",
                        data: {
                            categoryId: categoryId
                        },
                        success: function ( html ) {
                            $('#contactsReceiver').html(html);
                            initElements();
                        }
                    });
                });
            });
        </script>


        {{ v.injectPartial('\\Frootbox\\Admin\\Controller\\Assets\\Categories\\Partials\\CategoriesManager', {
            uid: plugin.getUid('categories'),
            plugin: plugin,
            categoryId: get.get('categoryId'),
            className : 'Frootbox\\Ext\\Core\\Gastronomy\\Plugins\\PriceList\\Persistence\\Category'
        }) | raw }}

    </div>
    <div class="col-8">

        <div id="contactsReceiver">

        </div>

    </div>
</div>