{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}
{% set i = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\Delegator', { object: controller }) %}

<h2>
    Job #{{ job.getId() }} bearbeiten
    <span class="headoptions">

        <span class="dropdown">
            <i class="far fa-bars dropdown-toggle" data-toggle="dropdown"></i>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item ajax" href="{{ plugin.getAdminUri('Job', 'ajaxDuplicate', { jobId: job.getId() }) }}"><i class="far fa-copy"></i>duplizieren</a>
            </div>
        </span>

        <a data-toggle="tooltip" data-title="Job bearbeiten" target="edit-job-{{ job.getId() }}" href="{{ plugin.getAdminUri('Job', 'jumpToEdit', { jobId: job.getId() }) }}"><i class="fa fa-pencil"></i></a>
    </span>
</h2>

<p><a class="ajax" href="{{ plugin.getAdminUri('Index', 'index') }}"><i class="fa fa-chevron-circle-left"></i> zur체ck</a></p>

<div class="card">
    <div class="card-body">

        <form method="post" class="ajax" action="{{ plugin.getAdminUri('Job', 'ajaxUpdate', { jobId: job.getId() }) }}">

            <div class="row">
                <div class="col-md-6">

                    {% if not configuration.get('i18n.multiAliasMode') %}
                        <div class="form-group">
                            <label for="title">Titel</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Titel" value="{{ job.getTitle() }}">
                        </div>
                        <div class="form-group">
                            <label for="subtitle">Untertitel</label>
                            <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="Untertitel" value="{{ job.getSubtitle() }}">
                        </div>
                    {% else %}
                        {% for language in configuration.get('i18n.languages') %}

                            <div class="form-group">
                                <label for="title_{{ loop.index }}">Titel ({{ language }}){% if settings.default_language == language %}*{% endif %}</label>
                                <input type="text" {% if settings.default_language == language %}required{% endif %} class="form-control" id="title_{{ loop.index }}" name="titles[{{ language }}]" placeholder="Titel ({{ language }})" value="{{ job.getTitleWithoutFallback(language) }}">
                            </div>

                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        <label for="typeText">Art (freier Text)</label>
                        <input type="text" class="form-control" name="typeText" id="typeText" placeholder="Art" value="{{ job.getConfig('type') }}">
                    </div>
                    <div class="form-group">
                        <label for="typeId">Art</label>
                        <select class="form-control" size="1" name="typeId" id="typeId">
                            <option value="">bitte w채hlen ...</option>
                            <option {% if job.getConfig('typeId') == 'Fulltime' %}selected{% endif %} value="Fulltime">Vollzeit</option>
                            <option {% if job.getConfig('typeId') == 'Parttime' %}selected{% endif %} value="Parttime">Teilzeit</option>
                            <option {% if job.getConfig('typeId') == 'FulltimeOrParttime' %}selected{% endif %} value="FulltimeOrParttime">Vollzeit/Teilzeit</option>
                            <option {% if job.getConfig('typeId') == 'Apprentice' %}selected{% endif %} value="Apprentice">Ausbildung</option>
                            <option {% if job.getConfig('typeId') == 'DualStudy' %}selected{% endif %} value="DualStudy">Duales Studium</option>
                        </select>
                    </div>


                    {% if v.isExtensionInstalled('Core', 'Addresses') %}
                        <div class="form-group">
                            <label for="city">Ort</label>
                            <select size="1" class="form-control" name="locationId" id="locationId">
                                <option value="">bitte w채hlen ...</option>
                                {% for address in i.getAddresses() %}
                                    <option {% if address.getId() == job.getLocationId() %}selected{% endif %} value="{{ address.getId() }}">{{ address.getTitle() }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    {% endif %}

                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="dateStart">Beginn-Datum</label>
                        <input type="date" class="form-control" name="dateStart" id="dateStart" placeholder="Beginn-Datum" value="{{ job.getDateStart() | date('Y-m-d') }}">
                    </div>
                    <div class="form-group">
                        <label for="start">Beginn (freier Text)</label>
                        <input type="text" class="form-control" name="start" id="start" placeholder="Beginn-Text" value="{{ job.getConfig('start') }}">
                    </div>
                    <div class="form-group form-check">
                        <input {% if job.getConfig('asSoonAsPossible') %}checked{% endif %} type="checkbox" class="form-check-input" id="asSoonAsPossible" name="asSoonAsPossible">
                        <label class="form-check-label" for="asSoonAsPossible">zu sofort</label>
                    </div>
                    <div class="form-group">
                        <label for="limitation">Befristung</label>
                        <input type="text" class="form-control" name="limitation" id="limitation" placeholder="Befristung" value="{{ job.getConfig('limitation') }}">
                    </div>

                </div>
            </div>

            {{ v.injectPartial('\\Frootbox\\Admin\\View\\Partials\\Input\\Tags', {
                object: job,
                presetFromConfig: 'Ext.Core.HelpAndSupport.Jobs.TagsForced'
            }) | raw }}

            <div class="form-group">
                <label for="link">Link</label>
                <input type="text" class="form-control" id="link" name="link" placeholder="Link" value="{{ job.getConfig('link') }}">
            </div>


            {% if job.getConfig('noJobsDetailPage') %}
                <div class="form-group form-check">
                    <input {% if job.getConfig('forceJobsDetailPage') %}checked{% endif %} type="checkbox" class="form-check-input" id="forceJobsDetailPage" name="forceJobsDetailPage">
                    <label class="form-check-label" for="forceJobsDetailPage">Detailseite f체r diesen Job dennoch anzeigen</label>
                </div>
            {% endif %}

            {% if v.isExtensionInstalled('Core', 'ContactForms') %}
                <div class="form-group">
                    <label for="formId">Bewerbungsformular</label>
                    <select class="form-control" id="formId" name="formId">
                        <option value="">Standardeinstellung</option>
                        {% for form in i.getForms() %}
                            <option {% if job.getConfig('formId') == form.getId %}selected{% endif %} value="{{ form.getId }}">{{ form.getTitle() }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary">Speichern</button>

        </form>

    </div>
</div>
