{# config

title: Standard

/config #}

{% set v = view.getViewhelper('View') %}
{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set p = view.getViewhelper('Partials', { plugin: plugin }) %}

<div class="plugin Core ShopSystem Account Orders01">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="inner-wrapper">



                    <div class="row">
                        <div class="col-md-4">

                            {{ p.renderPartial('Menu', { plugin: plugin }) | raw }}

                        </div>
                        <div class="col-md-8">

                            <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('title-orders') }}">Bestellungen</h2>

                            {% if orders | length == 0 %}
                                <div class="message">Es wurden noch keine Bestellungen getätigt.</div>
                            {% else %}
                                <table class="table">
                                    <tbody>

                                    {% for booking in orders %}
                                        <tr>
                                            <td>
                                                <a href="{{ plugin.getActionUri('order', { orderId: booking.getId() }) }}">{{ booking.getDate() | date('d.m.Y H:i') }} Uhr</a>
                                            </td>
                                            <td class="text-right">
                                                {{ booking.getTotal() | number_format(2, ',', '.') }} €
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% endif %}

                        </div>
                    </div>


                    <br /><br /><br /><br /><br />

                </div>
            </div>
        </div>

    </div>
</div>
