{# config

title: Bubbles
variables:
    columns:
        type: int
        label: Spalten
        default: 2
    skipReadMore:
        type: bool
        label: kein „weiterlesen“
    imageWidth:
        type: int
        default: 400
        label: Bild-Breite
    imageHeight:
        type: int
        default: 400
        label: Bild-Höhe

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

{% set teasers = i.getTeasers() %}

{% if variables.columns == 1 %}
    {% set colClass = "col-12" %}
{% elseif variables.columns == 2 %}
    {% set colClass = "col-6" %}
{% elseif variables.columns == 3 %}
    {% set colClass = "col-12 col-sm-6 col-md-4" %}
{% elseif variables.columns >= 4 %}
    {% set colClass = "col-3" %}
{% endif %}

<div class="row">
    <div class="col-12 plugin Core Navigation Teaser Index03">

        <div class="row text-center justify-content-center">

            {% for teaser in teasers %}
                <div class="{{ colClass }} teaser" {% if not teaser.isLinkDeactivated() %}data-href="{% if variables.skipReadMore %}{{ teaser.getUrl() }}{% endif %}"{% endif %}>
                    <picture class="round" data-editable data-uid="{{ teaser.getUid('image')}}">
                        <img class="teaser-image" width="{{ width.imageWidth }}" height="{{ width.imageHeight }}" src="{{ i.getDummyImage({ width: variables.imageWidth, height: variables.imageHeight }) }}" alt="" />
                    </picture>

                    <h4 data-editable data-uid="{{ teaser.getUid('title')}}">{{ teaser.getTitle }}</h4>

                    <div data-editable data-uid="{{ teaser.getUid('teaser-text') }}"></div>

                    {% if not variables.skipReadMore and not teaser.isLinkDeactivated() %}
                        <p><a href="{{ teaser.getUrl() }}">weiterlesen ...</a></p>
                    {% endif %}
                </div>
            {% endfor %}

        </div>

    </div>
</div>