{# config

title: Kacheln
variables:
    img_width:
        type: int
        label: Bildbreite
        default: 350
    img_height:
        type: int
        label: Bildhöhe
        default: 160
    columns:
        type: int
        label: Spalten
        default: 2
    withHeadline:
        type: bool
        default: false
        label: mit Überschrift
/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

{% set children = i.getPages() %}

{% if variables.columns == 1 %}
    {% set colClass = "col-12" %}
{% elseif variables.columns == 2 %}
    {% set colClass = "col-6" %}
{% elseif variables.columns == 3 %}
    {% set colClass = "col-12 col-md-4" %}
{% elseif variables.columns >= 4 %}
    {% set colClass = "col-12 col-md-3" %}
{% endif %}

<div class="row">
    <div class="col-12 plugin Core Navigation SubNavigation Index05">

        {% if variables.withHeadline %}
            {% if plugin.isFirst %}
                <h1 data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h1>
            {% else %}
                <h2 data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>
            {% endif %}

            <div data-editable data-uid="{{ plugin.getUid('teaser-text') }}"></div>
        {% endif %}

        <div class="row justify-content-md-center articles">

            {% for child in children %}
                <div class="{{ colClass }} teaser" data-href="{{ child.getUri }}">
                    <div class="inner-wrapper">
                        <picture class="fluid" data-editable data-uid="{{ child.getUid('image')}}">
                            <img width="{{ variables.img_width }}" height="{{ variables.img_height }}" src="{{ i.getDummyImage({ width: variables.img_width, height: variables.img_height }) }}" alt="" />
                        </picture>

                        <h4>{{ child.getTitle }}</h4>

                        <div data-editable data-nowidgets="" data-uid="{{ child.getUid('teaser-text') }}"></div>

                        <p class="read-more"><a href="{{ child.getUri }}">weiterlesen ...</a></p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>