{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{% if extensions.getCount() == 0 %}

	<div class="message warning">Es wurden noch keine Erweiterungen installiert.</div>

{% else %}
	<table class="table">
		<thead>
			<tr>
				<th>Extension</th>
				<th>Datenbank Version</th>
				<th>verfügbar</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			{% for extension in extensions %}
				 <tr class="{% if data.highlight == extension.getId() %}highlighted{% endif %} {% if not extension.getIsactive() %}inactive{% endif %}" data-href="{{ v.getUri('Extensions', 'details', { 'vendorId' : extension.getVendorId(), 'extensionId' : extension.getExtensionId() } ) }}">
					 <td>{{ extension.getVendorId() }}/{{ extension.getExtensionId() }}</td>
					 <td>
						 {{ extension.getVersion() }}
					 </td>
					 <td>
						 {{ extension.getAvailableVersion() }}
					 </td>
					 <td class="text-right">
						 <a class="ajax" href="{{ v.getUri('Extensions', 'ajaxSwitchState', { 'vendorId' : extension.getVendorId(), 'extensionId' : extension.getExtensionId() } ) }}">
							<i class="fa fa-lightbulb icon visibility visibility-{% if extension.getIsactive() == 1 %}2{% else %}0{% endif %}"></i>
						 </a>
						 <a data-confirm="Soll diese Erweiterung wirklich gelöscht werden?" href="{{ v.getUri('Extensions', 'ajaxDelete', { 'vendorId' : extension.getVendorId(), 'extensionId' : extension.getExtensionId() } ) }}" class="ajax"><i class="fa fa-times icon"></i></a>
					 </td>
				 </tr>
			{% endfor %}

		</tbody>
	</table>
{% endif %}
