{{ view.set({
    'title' : 'Anmeldung',
    'wrapper' : 'IndexStandalone'
}) }}

<script nonce="{{ settings.nonce }}">
	$(function ( ) {

		/**
		 * Dismiss javascript block
		 */
		$('.javascript-block').hide();

		/*
		if (window.navigator.userAgent.indexOf("Edg") > -1 || window.navigator.userAgent.indexOf("MSIE") > -1) {
			$('#ieBlock').show();
		}
		else {
			$('#login').show();
		}
		*/

		$('#login').show();

		$('a.password-lost').click(function ( ) {

			let href = $(this).attr('href') + '?login=' + $('#login').val();

			$(this).attr('href', href);
		});
	});
</script>

<style>
	.card.hidden {
		display: none;
	}
</style>

<img class="logo" src="{{ serverpath }}cms/admin/resources/public/images/logo.svg" alt="Logo" />

<div class="message notice javascript-block">Bitte aktivieren Sie Javascript für Benutzung des CMS.</div>

<div class="card hidden" id="ieBlock">
	<div class="card-body">
		<p>Bitte benutzen Sie Chrome oder Safari für das Backend des CMS.</p>
	</div>
</div>

<div id="login">

	<h2>Anmeldung</h2>


		<div>

			<form class="ajax" method="post" action="{{ controller.getUri('ajaxLogin', { 'redirect' : get.get('redirect') } ) }}">

				<div class="form-group">
					<label for="login" class="sr-only">Benutzername</label>
					<input type="email" class="form-control" id="login" name="login" placeholder="E-Mail">
				</div>

				<div class="form-group">
					<label for="password" class="sr-only">Passwort</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="Passwort">
				</div>

				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="stayLoggedIn" name="stayLoggedIn">
					<label class="form-check-label" for="stayLoggedIn">angemeldet bleiben</label>
				</div>

				<div class="row mt-5">
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary">Anmelden</button>
					</div>
					<div class="col-md-6 text-right">
						<a href="{{ controller.getUri('passwordLost') }}" class="password-lost btn btn-outline-secondary btn-sm">Passwort vergessen</a>
					</div>
				</div>


			</form>

		</div>

</div>
