{# config

title: Standard
variables:
    withContainer:
        type: bool
        label: mit Layout-Container
    predefinedTextblocks:
        type: int
        label: vordefinierte Textblöcke
        default: 3
    predefinedGlobalTextblocks:
        type: int
        label: vordefinierte globale Textblöcke
        default: 0
    withTextAboveColumns:
        type: bool
        label: mit Text über den Spalten
    skipSocialSharing:
        type: bool
        label: kein Social-Sharing
    skipMapLocation:
        type: bool
        label: ohne Standort-Karte
    withTopBlocks:
        type: bool
        label: Blöcke über jedem Artikel

/config #}

<param name="cloak" value="1" />

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set t = i.getTranslator() %}
{% set b = view.getViewhelper('Breadcrumb', { singleton: true }) %}
{% set v = view.getViewhelper('View') %}
{% set a = view.getViewhelper('Assets', {   }) %}
{% set h = view.getViewhelper('Hreflang', { singleton: true }) %}

{% set icons = view.getViewhelper('Ext/HerrUndFrauPixelExt/Icons/Icons', { createDummyOnFail: true  }) %}

{{ b.addSection(job.getTitle(globalLanguage), job.getUri()) }}

{{ view.set({ pagedata: { title: job.getTitle(globalLanguage) } }) }}
{{ view.set('hideGlobalBlocks', true) }}

{% set location = job.getLocation() %}

{% for language, xalias in job.getLanguageAliases() %}
    {{ h.addItem(language, xalias) }}
{% endfor %}

{% block config %}

{% endblock %}

<div class="plugin Core HelpAndSupport Jobs ShowJob01">

    {% if variables.withTopBlocks %}
        <div class="top-blocks" data-blocks data-label="Blöcke über jedem Artikel" data-uid="{{ plugin.getUid('job-details-top-blocks') }}"></div>
    {% endif %}

    {% if variables.withContainer %}<div class="container">{% endif %}

    <div class="row">
        <div class="col-12">

            {% block headline %}
                <h2 class="first main-title" data-editable data-uid="{{ job.getUid('title') }}">{{ job.getTitle(globalLanguage) }}</h2>
            {% endblock %}

            <div class="content-teaser">
                <div data-editable data-uid="{{ job.getUid('teaser') }}"></div>
            </div>


            {% if not variables.skipSocialSharing %}
                {% set articleUrl = job.getUri({ absolute: true }) %}

                <nav class="social-sharing">

                    <a data-toggle="tooltip" data-placement="bottom" title="Jobangebot teilen auf Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ articleUrl | url_encode }}">{{ icons.render('facebook') | raw }}</a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Jobangebot teilen auf X" target="_blank" href="https://twitter.com/home?status={{ articleUrl | url_encode }}">{{ icons.render('x') | raw }}</a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Jobangebot teilen auf Xing" target="_blank" href="https://www.xing.com/spi/shares/new?url={{ articleUrl | url_encode }}">{{ icons.render('xing') | raw }}</a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Jobangebot teilen auf LinkedIn" target="_blank" href="https://www.linkedin.com/share?id={{ articleUrl | url_encode }}">{{ icons.render('linkedin') | raw }}</a>

                    {% if image %}
                        <a data-toggle="tooltip" data-placement="bottom" title="Jobangebot teilen auf Pinterest" target="_blank" href="https://pinterest.com/pin/create/button/?media={{ image.getUriThumbnail() | url_encode }}&amp;url={{ articleUrl | url_encode }}&amp;media=">{{ icons.render('pinterest') | raw }}</a>
                    {% endif %}

                    <a data-toggle="tooltip" data-placement="bottom" title="Jobangebot empfehlen per E-Mail" href="mailto:?subject=Empfehlung&amp;body={{ articleUrl | url_encode }}">{{ icons.render('envelope') | raw }}</a>

                </nav>
            {% endif %}


            {% if location and not variables.skipMapLocation %}

                <h3>Standort: {{ location.getCity() }}</h3>

                <iframe src="https://maps.google.com/maps?q={{ location.getTitle() }}, {{ location.getStreet() }} {{ location.getStreetNumber() }}, {{ location.getZipcode() }} {{ location.getCity() }}&output=embed" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                <br /><br />
            {% endif %}

            <div class="xicons">
                <div class="row">

                    {% if job.getType() %}
                        <div class="col-md-3">
                            {{ icons.render('clock') | raw }}
                            {{ t.translate("Type" ~ job.getType()) }}
                        </div>
                    {% endif %}

                    {% if job.getConfig('asSoonAsPossible') or job.getDateStart() %}
                        <div class="col-md-3">
                            {{ icons.render('calendar') | raw }}

                            {% if job.getConfig('asSoonAsPossible') %}
                                Ab sofort
                            {% elseif job.getDateStart() %}
                                {{ job.getDateStart() | date('d.m.Y') }}
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
            </div>


            {% if variables.withTextAboveColumns %}
                <div data-editable data-uid="{{ job.getUid('text-above-columns') }}"></div>
            {% endif %}


            <div class="row justify-content-between">
                <div class="col-md-6">

                    {% if variables.predefinedTextblocks >= 1 %}
                        <h3 data-editable data-uid="{{ plugin.getUid('title-tasks') }}">Ihre Aufgaben</h3>
                        <div data-editable data-uid="{{ job.getUid('text-tasks') }}"></div>
                    {% endif %}

                    {% if variables.predefinedTextblocks >= 2 %}
                        <h3 data-editable data-uid="{{ plugin.getUid('title-profile') }}">Ihr Profil</h3>
                        <div data-editable data-uid="{{ job.getUid('text-profile') }}"></div>
                    {% endif %}

                    {% if variables.predefinedTextblocks >= 3 %}
                        <h3 data-editable data-uid="{{ plugin.getUid('title-benefits') }}">Wir bieten Ihnen</h3>
                        <div data-editable data-uid="{{ job.getUid('text-benefits') }}"></div>
                    {% endif %}

                    {% if variables.predefinedGlobalTextblocks >= 1 %}
                        <h3 data-editable data-uid="{{ plugin.getUid('title-global-1') }}">Überschrift</h3>
                        <div data-editable data-uid="{{ plugin.getUid('text-global-1') }}"></div>
                    {% endif %}

                    {% if variables.predefinedGlobalTextblocks >= 2 %}
                        <h3 data-editable data-uid="{{ plugin.getUid('title-global-2') }}">Überschrift</h3>
                        <div data-editable data-uid="{{ plugin.getUid('text-global-2') }}"></div>
                    {% endif %}

                </div>
                <div class="col-md-5">

                    <div class="sticky-top">

                        {% if job.getConfig('formId') or plugin.getConfig('formId') %}

                            <h3 data-editable data-uid="{{ plugin.getUid('apply-now') }}">Jetzt bewerben!</h3>

                            {% set formRenderer = view.getViewhelper('Ext/Core/ContactForms/FormRenderer', {   }) %}

                            {{ formRenderer.render({
                                formId: (job.getConfig('formId') ? job.getConfig('formId') : plugin.getConfig('formId')),
                                options: {
                                    editable: true,
                                },
                                payload: {
                                    'Job': job.getTitle(),
                                    'Standort': location.getTitle()
                                }
                            }) | raw }}

                        {% endif %}

                    </div>

                </div>
            </div>

        </div>
        <div class="col-12">
            <div class="content-teaser-below">
                <div data-editable data-uid="{{ job.getUid('text-below') }}"></div>
            </div>


            <p class="back-button"><a href="{{ plugin.getActionUri('index') }}">{{ icons.render('angle-left') | raw }}zurück</a></p>

        </div>
    </div>

    {% if variables.withContainer %}</div>{% endif %}

</div>
