{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}


<script>
    var uid = "{{ get.get('uid') }}";

    $(function () {

        /**
         *
         */
        $('#pictureUpdateForm').submit(function ( event ) {

            event.preventDefault();
            event.stopImmediatePropagation();

            $.ajax({
                url: $(this).attr('action'),
                data: $(this).serialize(),
                type: 'POST',
                success: function ( response ) {

                    $('#fbxEditorGenericModal').modal('hide');

                    refreshEditable();
                }
            });

        });
    });

    function refreshEditable ( ) {

        var element = $('figure[data-type="Images/PictureFull"][data-uid="' + uid + '"]');
        var snippet = $('<div />').append(element.clone()).html();

        $.ajax({
            url: "{{ settings.serverpath }}cms/admin/Editor/callEditable",
            type: 'POST',
            data: {
                method: 'ajaxRefresh',
                editable: 'Frootbox/Ext/Core/Images/Editables/PictureFull',
                snippet: snippet
            },
            success: function ( html ) {

                var response = $.parseJSON(html);

                element.replaceWith(response.snippet.html);

            }
        });
    }
</script>



<form id="pictureUpdateForm" action="{{ controller.getActionUri('ajaxUpdate', { uid: get.get('uid') }) }}" method="post">

    <div class="modal-header">
        <h5 class="modal-title">Bild bearbeiten</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        {{ v.injectPartial('Frootbox/Ext/Core/FileManager/Editor/Partials/FileUpload', {
            multiple: false,
            uid: get.get('uid'),
            onComplete: 'refreshEditable'
        }) | raw }}

        <div class="{% if not file %}d-none{% endif %}">
            <div class="form-group">
                <label for="width">Breite</label>
                <input type="number" class="form-control" id="width" name="width" placeholder="Breite" value="{{ file.getConfig('width') }}">
            </div>
            <div class="form-group">
                <label for="caption">Bildunterschrift</label>
                <textarea rows="5" class="form-control" id="caption" name="caption" placeholder="Bildunterschrift">{{ file.getConfig('caption') }}</textarea>
            </div>
            <div class="form-group">
                <label for="copyright">Copright</label>
                <input type="text" class="form-control" id="copyright" name="copyright" placeholder="Copyright" value="{{ file.getCopyright }}">
            </div>

            <button type="submit" class="btn btn-primary">Speichern</button>
        </div>

    </div>
</form>