{# config

title: Standard
variables:
    withContainer:
        type: bool
        label: mit Layout-Container
/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set b = view.getViewhelper('Breadcrumb', { singleton: true }) %}

{{ b.addSections(category, { skipfirst: true }) }}
{{ b.addSection(recipe.getTitle(), recipe.getUri()) }}

<div class="plugin Core Gastronomy Recipes ShowRecipe01">

    {% if variables.withContainer %}<div class="container">{% endif %}

        <div class="row">
            <div class="col-12">

                <h2 class="first main-title" data-editable data-uid="{{ recipe.getUid('title') }}">{{ recipe.getTitle }}</h2>

                <div data-editable data-uid="{{ recipe.getUid('teaser') }}"></div>

                <div class="row">
                    <div class="col-md-6">

                        <h3>Zutaten</h3>

                        <div data-editable data-uid="{{ recipe.getUid('ingredients') }}"></div>
                    </div>
                    <div class="col-md-6">

                        <picture class="fluid" data-skipempty="true" data-editable data-uid="{{ recipe.getUid('image')}}">
                            <img width="600" height="350" src="{{ i.getDummyImage({ width: 600, height: 350}) }}" alt="" />
                        </picture>

                        <h3>Zubereitung</h3>

                        <div data-editable data-uid="{{ recipe.getUid('preparation') }}"></div>
                    </div>
                </div>

            </div>
        </div>

    {% if variables.withContainer %}</div>{% endif %}

</div>