{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set icons = view.getViewhelper('Ext/HerrUndFrauPixelExt/Icons/Icons', { createDummyOnFail: true  }) %}

<div class="contacts">
    <div class="row">
        {% for contact in data.category.getContacts() %}
            <div class="{{ data.colClass }} contact">

                <picture {% if not variables.withRolloverEffect %}data-editable{% else %}data-editable-rollover{% endif %} data-uid="{{ contact.getUid('image')}}">
                    <img width="600" height="400" src="{{ i.getDummyImage({ width: 600, height: 400 }) }}" alt="" />
                </picture>

                <h4 class="first">{{ contact.getName() }}</h4>

                {% if contact.connConfig.position %}
                    <p class="position role">{{ contact.connConfig.position }}</p>
                {% elseif contact.getCompany() or contact.getPosition() %}
                    <p>
                        {% if contact.getCompany() %}
                            {{ contact.getCompany() }}<br />
                        {% endif %}

                        {% if contact.getPosition() %}
                            <span class="position role">{{ contact.getPosition() | nl2br }}</span>
                        {% endif %}
                    </p>
                {% endif %}

                <p>
                    {% if contact.getPhone() %}
                        <a href="tel:{{ contact.getPhone() }}">{{ icons.render('phone', [ 'fa-fw' ]) | raw }}{{ contact.getPhone() }}</a><br />
                    {% endif %}

                    {% if contact.getEmail() %}
                        <a class="email" href="mailto:{{ contact.getEmail() }}">
                            {{ icons.render('envelope', [ 'fa-fw' ]) | raw }}{% if variables.showFullEmail %}{{ contact.getEmail() }}{% else %}E-Mail{% endif %}
                        </a><br />
                    {% endif %}

                    {% if contact.getFax() %}
                        <i class="fa fa-fw fa-fax"></i>{{ contact.getFax() }}
                        <br />
                    {% endif %}

                </p>

            </div>
        {% endfor %}
    </div>
</div>
