<div class="form-group field-input">
    <label for="field-{{ field.getId() }}" class="{% if options.placeholderOnly %}sr-only{% endif %}">
        <span {% if renderer.options.editable %}data-editable-element data-uid="{{ field.getUid('title') }}"{% endif %}>{{ field.getTitle() }}</span><!--
        -->{% if field.getMandatory() %}<span class="mandatory">*</span>{% endif %}
    </label>
    <input {% if field.isRequired() %}required{% endif %} type="tel" class="form-control" id="field-{{ field.getId() }}" name="fields[{{ field.getId() }}]" placeholder="{% if renderer.options.placeholderLabel %}{{ field.getTitle() }}{% if field.isRequired() %}*{% endif %}{% elseif options.placeholderOnly %}{{ field.getTitle() }}{% endif %}">
</div>
