{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set icons = view.getViewhelper('Ext/HerrUndFrauPixelExt/Icons/Icons', { createDummyOnFail: true  }) %}

<script nonce="{{ settings.nonce }}">
    $(function ( ) {

        /**
         *
         */
        $('a.print-window').click(function ( event ) {

            event.preventDefault();

            window.print();
        });
    });
</script>

<div class="Partial ShopSystem Checkout BasketFooter">

    <nav>
        <a class="print-window" href="#">{{ icons.render('print') | raw }}{{ "Core.ShopSystem.LinkPrint" | translate }}</a>
        <a target="_blank" href="{{ i.getPrivacyPolicyLink() }}">{{ icons.render('shield-check') | raw }}{{ "Core.ShopSystem.LinkPrivacy" | translate }}</a>
        <a class="cancel" href="{{ plugin.getActionUri('cancel') }}">{{ icons.render('xmark') | raw }}{{ "Core.ShopSystem.LinkCancel" | translate }}</a>
    </nav>

</div>
