

<script src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/0.9.1/jquery.tablednd.js" integrity="sha256-d3rtug+Hg1GZPB7Y/yTcRixO/wlI78+2m08tosoRn7A=" crossorigin="anonymous"></script>

<script nonce="{{ settings.nonce }}">
    $(function ( ) {

        $('#blockstable').tableDnD({
            dragHandle: '.handle',
            serializeParamName: 'row',
            onDragClass: 'dragging',
            onDrop: function (table, row) {

                $.ajax({
                    url: "{{ controller.getActionUri('ajaxSort', { uid: get.get('uid') }) | raw }}",
                    data: $.tableDnD.serialize(),
                    success: function ( response ) {

                        $('[data-blocks][data-uid="' + response.uid + '"] [data-editable-block]').remove();
                        $('[data-blocks][data-uid="' + response.uid + '"] .editable-navbar').after(response.html);
                    }
                });

            }
        });

        /**
         *
         */
        $('a.list-block-delete').click(function ( event ) {
            event.stopImmediatePropagation();
            event.preventDefault();

            $.ajax({
                url: $(this).attr('href'),
                success: function ( response ) {
                    $('[data-blocks][data-uid="' + response.uid + '"]  .blocks-content' ).html(response.html);
                    $('#blockstable tr[data-block="' + response.blockId + '"]').fadeOut();
                }
            });
        });

        /**
         *
         */
        $('a.block-switch').click(function ( event ) {

            event.preventDefault();

            $.ajax({
                url: $(this).attr('href'),
                success: function ( response ) {
                    $('#blockstable tr[data-block="' + response.blockId + '"] i.visibility').removeClass('visibility-0 visibility-1 visibility-2');
                    $('#blockstable tr[data-block="' + response.blockId + '"] i.visibility').addClass(response.visibility);
                }
            });
        });
    });
</script>

<div class="modal-header">
    <h5 class="modal-title">Blöcke sortieren</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% if blocks | length == 0 %}
    <div class="modal-body">

        <p>Es wurden noch keine Blöcke erstellt.</p>

    </div>
{% else %}

    <style>
        #blockstable a i.xicon {
            margin-left: 10px;
        }

        #blockstable a i.xicon.visibility-0 {
            color: red;
        }

        #blockstable a i.xicon.visibility-1 {
            color: orange;
        }

        #blockstable a i.xicon.visibility-2 {
            color: green;
        }
    </style>

    <table class="table" id="blockstable">
        <tbody>

        {% for block in blocks %}
            <tr id="row-{{ block.getId() }}" data-block="{{ block.getId() }}">
                <td>
                    {% if block.getTitleClean() and block.getBlockId() != block.getTitleClean() %}
                        <b>{{ block.getTitleClean() }}</b><br />
                        {{ block.getNameFromView() | default(block.getBlockId()) }}
                    {% else %}
                        <b>{{ block.getNameFromView() | default(block.getBlockId()) }}</b>
                    {% endif %}
                </td>
                <td class="handle"><a href="#"><i class="fa fa-grip-lines"></i></a></td>
                <td class="text-right">
                    <a class="block-switch" href="{{ controller.getActionUri('ajaxBlockSwitch', { blockId: block.getId() }) }}"><i class="fa fa-lightbulb xicon visibility {{ block.getVisibilityString() }}"></i></a>
                    <a class="list-block-delete" href="{{ controller.getActionUri('ajaxBlockDelete', { blockId: block.getId() }) }}"><i class="far fa-trash xicon"></i></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endif %}