{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<script nonce="{{ settings.nonce }}">
    $(function ( ) {

        /**
         *
         */
        $('#blockCreateForm').submit(function ( event ) {

            event.preventDefault();
            event.stopImmediatePropagation();

            $.ajax({
                url: $(this).attr('action'),
                data: $(this).serialize(),
                type: 'POST',
                headers: {
                    Accept: "application/json; charset=utf-8"
                },
                success: function ( response ) {

                    $('[data-blocks][data-uid="' + response.uid + '"] .blocks-content').html(response.html);
                    $('#fbxEditorGenericModal').modal('hide');

                    $(window).trigger('resize');
                },
                error: function ( xhr ) {
                    alert(xhr.responseText);
                }
            });
        });

    });
</script>

<style>

</style>

<form id="blockCreateForm" action="{{ controller.getActionUri('ajaxCreate', { uid: uid, pageId: get.get('pageId'), predecessor: get.get('predecessor') }) }}" method="post" data-uid="{{ uid }}">

    <div class="modal-header">
        <h5 class="modal-title">Block-Vorlage hinzufügen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% if copied %}
        <div class="modal-body">

            <div class="row">
                <div class="col-2">
                    <img style="box-shadow: 0 0 10px rgba(0, 0, 0, .2); width: 100%; height: auto;" src="{{ copied.getThumbnailSrc() }}" alt="" />
                </div>
                <div class="col-7">

                    <p>Einfügen aus der Zwischenablage:</p>

                    <label>
                        <input name="block" value="fromClipboard" type="radio" />
                        Diesen Block samt Inhalt kopieren und einfügen
                    </label>

                    <label>
                        <input type="checkbox" name="keepClipboard" />
                        Block nach Einfügen in der Zwischenablage behalten
                    </label>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary btn-block">Hinzufügen</button>
                </div>
            </div>

            <hr />

        </div>
    {% endif %}

    <style>
        #blockCreateForm {
            .btn-primary[data-category] {
                color: #FFF !important;
            }

            div[data-block] {
                .content-wrapper {
                    margin-top: -15px;
                    margin-bottom: 30px;
                    padding: 15px;

                    background: #f0f0f0;
                    border-radius: 4px;
                }

                .marker {
                    text-align: center;

                    span {
                        display: inline-block;
                        margin-bottom: -2px;
                        width: 15px;
                        height: 15px;
                        transform: rotate(45deg);
                        background: #f0f0f0;
                    }
                }
            }
        }

    </style>

    <script>
        $(function() {

            $(document).on('click', '.btn[data-category]', function(event) {

                event.stopImmediatePropagation();
                event.preventDefault();

                let category = $(this).data('category');

                $('.btn[data-category]').removeClass('btn-primary');
                $(this).addClass('btn-primary');

                $('.category-wrapper').addClass('d-none');
                $('.category-wrapper[data-category="' + category + '"]').removeClass('d-none');


            });

            $(document).on('change', 'input[name="block"]', function(event) {

                event.stopImmediatePropagation();

                $('#blockCreateForm').find('div[data-block]').addClass('d-none');

                if ($(this).is(':checked')) {

                    let container = $(this).parents('.category-wrapper').find('div[data-block="' + $(this).val() + '"]');

                    container.removeClass('d-none');

                    let loop = 0;

                    container.parents('.row').find('input').each(function() {

                        ++loop;

                        if ($(this).val() == container.data('block')) {
                            return false;
                        }
                    });


                    let index = (Math.ceil(loop / 6) * 6) - 1;

                    let position = loop % 6;

                    if (position === 0) {
                        position = 6;
                    }

                    container.find('.marker').addClass('offset-md-' + ((position - 1) * 2));


                    if (container.parents('.row').find('[data-block]').length < (index - 1)) {
                        index = container.parents('.row').find('[data-block]').length - 1;
                    }

                    $(container.parents('.row').find('[data-block]')[index]).after(container);
                }
            });
        });
    </script>

    <div class="modal-body">

        {% if blocksList | length == 0 %}
            <div class="message">Es sind keine Blöcke vorhanden.</div>
        {% else %}

            {% if categories | length > 1 %}

                <div class="btn-group" role="group" aria-label="Basic example">
                    {% for category in categories %}
                        <button style="padding: 6px 15px;" type="button" class="btn btn-outline-primary" data-category="{{ category.category }}">{{ category.category }}</button>
                    {% endfor %}
                </div>
            {% endif %}

            {% for category in categories %}
                <div class="category-wrapper" data-category="{{ category.category }}">

                    <h3>{{ category.category }}</h3>

                    <div class="row">
                        {% for block in category.blocks %}
                            <div class="col-2">
                                <label style="font-size: 11px;">
                                    <img style="box-shadow: 0 0 10px rgba(0, 0, 0, .2); width: 100%; height: auto;" src="{{ block.template.getThumbnailSrc() }}" alt="" />

                                    <input style="float: left; margin-top: 9px;" name="block" value="{{ block.vendorId }}-{{ block.extensionId }}-{{ block.blockId }}" type="radio" />
                                    <span style="display: block; float: left; margin: 5px 0 10px 8px; font-size: 16px; line-height: 20px;">
                                        <b>{{ block.template.getTitle() }}</b>
                                        <br />{{ block.template.getSubtitle() }}
                                    </span>
                                </label>
                            </div>

                            <div class="col-md-12 d-none" data-block="{{ block.vendorId }}-{{ block.extensionId }}-{{ block.blockId }}">
                                <div class="row">
                                    <div class="marker col-md-2"><span></span></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="row">
                                        <div class="col-md-8">

                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary btn-block">Block hinzufügen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}


            {#

            <div class="row">
                <div class="col-md-10">

                    <div class="row">
                        {% for extension in blocksList %}

                            {% if blocksList | length > 1 %}
                                <div class="col-12">
                                    <h3>{{ extension.extension }}</h3>
                                </div>
                            {% endif %}

                            {% for section, blocks in extension.blocks %}

                                {% if section != "Default" %}
                                    <div class="col-12">
                                        <p><b>{{ section }}</b></p>
                                    </div>
                                {% endif %}

                                {% for block in blocks %}
                                    <div class="col-2">
                                        <label style="font-size: 11px;">
                                            <img style="box-shadow: 0 0 10px rgba(0, 0, 0, .2); width: 100%; height: auto;" src="{{ block.template.getThumbnailSrc() }}" alt="" />

                                            <input style="float: left; margin-top: 9px;" name="block" value="{{ block.vendorId }}-{{ block.extensionId }}-{{ block.blockId }}" type="radio" />
                                            <span style="display: block; float: left; margin: 5px 0 10px 8px; font-size: 16px; line-height: 20px;">
                                                <b>{{ block.template.getTitle() }}</b>
                                                <br />{{ block.template.getSubtitle() }}
                                            </span>

                                        </label>
                                    </div>
                                {% endfor %}

                            {% endfor %}

                        {% endfor %}
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="sticky-top" style="top: 15px;">
                        <button type="submit" class="btn btn-primary btn-block">Block hinzufügen</button>
                    </div>
                </div>
            </div>
            #}

        {% endif %}

    </div>
</form>