{# config

title: Standard
variables:
    withContainer:
        type: bool
        label: mit Layout-Container


/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

{% set files = i.getFiles() %}

<div class="plugin Core FileManager CopyrightFilesList Index01">

    {% if variables.withContainer %}<div class="container">{% endif %}

    <div class="row">
        <div class="col-12">

            <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

            <div data-editable data-uid="{{ plugin.getUid('text') }}"></div>

            <ul>
                {% for file in files %}
                    <li><a href="{{ file.getUri({ width: 300 }) }}">{{ file.getCopyright() }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>

    {% if variables.withContainer %}</div>{% endif %}

</div>
