{# config

title: Standard
variables:
    imageWidth:
        type: int
        label: Bildbreite
        default: 510
    imageHeight:
        type: int
        label: Bildhöhe
        default: 200

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

{{ i.injectScss({ path: 'Index01/public/standards.less'}) | raw }}

<div class="plugin Core HelpAndSupport Links Index05">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="inner-wrapper">
                    <h2 class="main-title first" data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

                    <div data-editable data-uid="{{ plugin.getUid('teaser') }}"></div>

                    <div class="links">
                        {% for link in i.getLinks() %}
                            <div class="link">
                                <div class="row align-items-end">
                                    <div class="col-md-4">
                                        <picture data-editable data-uid="{{ link.getUid('image')}}">
                                            <img width="{{ variables.imageWidth }}" height="{{ variables.imageHeight }}" src="{{ i.getDummyImage({ width: variables.imageWidth, height: variables.imageHeight }) }}" alt="" />
                                        </picture>
                                    </div>
                                    <div class="col-md-6" data-href>

                                        <h5 class="main-title first" data-editable data-uid="{{ link.getUid('title') }}">{{ link.getTitle() }}</h5>

                                        <div data-nowidgets  data-editable data-uid="{{ link.getUid('text')}}"></div>

                                    </div>
                                    <div class="col-md-2">

                                        {% if link.getConfig('url') != "#" %}
                                            <a href="{{ link.getConfig('url') }}" class="btn btn-primary btn-block">Mehr</a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <div data-editable data-uid="{{ plugin.getUid('text-below') }}"></div>
                </div>

            </div>
        </div>
    </div>
</div>
