{# config

title: Standard
variables:
    withForwardAndBack:
        type: bool
        label: mit Vor- und Zurück-Button
    withContainer:
        type: bool
        label: mit Layout-Container



/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set b = view.getViewhelper('Breadcrumb', { singleton: true }) %}

{{ b.addSection(question.getTitle(), question.getUri()) }}

{{ view.set({ pagedata: { title: question.getTitle() } }) }}

{{ view.set('hideGlobalBlocks', true) }}

<param name="cloak" value="1" />

{{ view.set('overrideImageUid', question.getUid('image')) }}

<div class="plugin Core HelpAndSupport FAQ ShowQuestion01">

    {% if variables.withContainer %}<div class="container">{% endif %}

        <div class="row">
            <div class="col-12">

                <h2 class="first main-title" data-editable data-uid="{{ question.getUid('title') }}">{{ question.getTitle }}</h2>

                {% set seeAlso = question.getSeeAlso() %}

                {% if seeAlso | length > 0 %}
                    <p>Siehe auch: {% for xquestion in seeAlso %}{% if loop.index > 1 %}, {% endif %}<a href="{{ xquestion.getUri() }}">{{ xquestion.getTitle() }}</a>{% endfor %}</p>
                {% endif %}

                <div class="teaser" data-editable data-uid="{{ question.getUid('teaser') }}"></div>

            </div>
        </div>

    {% if variables.withContainer %}</div>{% endif %}

    <div data-label="Blöcke unter der F.A.Q. Frage" data-blocks data-uid="{{ question.getUid('block-content') }}"></div>

    {% if variables.withForwardAndBack %}

        {% set Successor = plugin.getSuccessorOf(question) %}
        {% set Predecessor = plugin.getPredecessorOf(question) %}

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 text-left">
                    {% if Predecessor %}
                        <a class="btn btn-primary" href="{{ Predecessor.getUri() }}">&laquo; {{ Predecessor.getTitle() }}</a>
                    {% endif %}
                </div>
                <div class="col-md-6 text-right">
                    {% if Successor %}
                        <a class="btn btn-primary" href="{{ Successor.getUri() }}">{{ Successor.getTitle() }} &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

</div>
