{% set items = data.shopcart.getItems() %}

<div class="Partial ShopSystem Checkout ItemsTable">

    {% if items | length == 0 %}
        <div class="xmessage">Sie haben aktuell keine Artikel im Warenkorb.</div>
    {% else %}

        <script nonce="{{ settings.nonce }}">
            $(function ( ) {

                /**
                 *
                 */
                $(document).on('change', 'select.set-amount', function ( event ) {

                    $.ajax({
                        headers: {
                            Accept: "application/json; charset=utf-8",
                        },
                        url: $(this).attr('data-update'),
                        data: {
                            amount: $(this).val()
                        },
                        success: function ( response ) {

                            $('#itemsTableReceiver').html(response.html);

                            localStorage.setItem('fbxShopCartItemCount', response.shopcart.items);
                            $('.fbxShopCartItemCounter').show();
                            $('.fbxShopCartItemCounter').html(response.shopcart.items);
                        }
                    });
                });


                /**
                 *
                 */
                $(document).on('click', 'a.drop-item', function ( event ) {

                    event.preventDefault();
                    event.stopImmediatePropagation();

                    if (!confirm('Soll dieses Produkt aus dem Warenkorb entfernt werden?')) {
                        return;
                    }

                    $.ajax({
                        url: $(this).attr('href'),
                        type: 'GET',
                        dataType: 'JSON',
                        success: function ( response ) {

                            $('#itemsTableReceiver').html(response.html);

                            localStorage.setItem('fbxShopCartItemCount', response.shopcart.items);
                            $('.fbxShopCartItemCounter').show();
                            $('.fbxShopCartItemCounter').html(response.shopcart.items);
                        }
                    });
                });

                /**
                 *
                 */
                $(document).on('click', 'a.open-options', function ( event ) {

                    event.preventDefault();
                    event.stopImmediatePropagation();

                    $.ajax({
                        url: $(this).attr('href'),
                        type: 'GET',
                        success: function ( html ) {

                            $('.generic-shopcart-modal').remove();

                            $('body').append('<div ' + 'class="generic-shopcart-modal">' + html + '</' + 'div>');

                        }
                    });

                });

                /**
                 *
                 */
                $(document).on('click', 'a.generic-modal-close', function ( event ) {

                    event.preventDefault();
                    event.stopImmediatePropagation();

                    $('.generic-shopcart-modal').remove();
                });
            });
        </script>

        <h3>Artikel im Warenkorb</h3>

        <div class="table-responsive-sm">


            <table class="table checkout-items-table">
                <thead>
                    <tr>
                        <th class="d-none d-md-table-cell">Artikel</th>
                        <th class="text-right">Anzahl</th>
                        <th class="text-right">Preis</th>
                        <th class="text-right">Gesamt</th>
                        {% if data.editable %}<th width="75"></th>{% endif %}
                    </tr>
                </thead>
                <tbody>

                    {% for item in items %}
                        <tr data-item="{{ item.getKey() }}" class="d-md-none">
                            <td colspan="3">
                                {% if item.getUri() and not plugin.getConfig('skipLinkage') %}
                                    <a href="{{ item.getUri() }}"><b>{{ item.getTitle() }}</b></a>
                                {% else %}
                                    <b>{{ item.getTitle() }}</b>
                                {% endif %}

                                {% if item.hasOptions() %}
                                    {% if data.editable %}
                                        <br /> <a class="open-options" style="font-size: 12px; line-height: 16px; color: #CCC;" href="{{ data.plugin.getUriAjax('modalOptions', { key: item.getKey() }) }}"><i class="fa-light fa-pencil"></i> Optionen bearbeiten</a>
                                    {% endif %}

                                    {% for option in item.getFieldOptions() %}
                                        <br />{{ option.group }}: {{ option.option }}{% if option.surcharge %} (+ {{ option.surcharge | number_format(2, ',', '.') }} &euro;){% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% for equipment in item.getEquipment() %}
                                    <br />+ {{ equipment.title }} ({% if equipment.priceGross == 0 %}inkl.{% else %}{{ equipment.priceGross | number_format(2, ",", ".") }} EUR{% endif %})
                                {% endfor %}

                                {% if item.getCustomNote() %}
                                    <div class="customnote">{{ item.getCustomNote() | nl2br }}</div>
                                {% endif %}
                            </td>
                            <td class="d-none d-md-table-cell"></td>
                        </tr>
                        <tr data-item="{{ item.getKey() }}">
                            <td class="d-none d-md-table-cell">
                                {% if item.getUri() and not plugin.getConfig('skipLinkage') %}
                                    <a href="{{ item.getUri() }}">{{ item.getTitle() }}</a>
                                {% else %}
                                    {{ item.getTitle() }}
                                {% endif %}

                                {% if item.hasOptions() %}
                                    {% if data.editable %}
                                        <br /> <a class="open-options" style="font-size: 12px; line-height: 16px; color: #CCC;" href="{{ data.plugin.getUriAjax('modalOptions', { key: item.getKey() }) }}"><i class="fa-light fa-pencil"></i> Optionen bearbeiten</a>
                                    {% endif %}

                                    {% for option in item.getFieldOptions() %}
                                        <br />{{ option.group }}: {{ option.option }}{% if option.surcharge %} (+ {{ option.surcharge | number_format(2, ',', '.') }} &euro;){% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% for equipment in item.getEquipment() %}
                                    <br />+ {{ equipment.title }} ({% if equipment.priceGross == 0 %}inkl.{% else %}{{ equipment.priceGross | number_format(2, ",", ".") }} EUR{% endif %})
                                {% endfor %}

                                {% if item.getCustomNote() %}
                                    <div class="customnote">{{ item.getCustomNote() | nl2br }}</div>
                                {% endif %}

                                {% if item.getMinimumAge() %}
                                    <div class="minimum-age">Mindestsalter für den Verkauf dieses Artikels ist {{ item.getMinimumAge() }} Jahre!</div>
                                {% endif %}
                            </td>
                            <td class="text-right">

                                {% if data.editable and not item.isBound() %}
                                    <select size="1" name="items[{{ item.getKey() }}][amount]" class="set-amount" data-key="{{ item.getKey() }}" data-update="{{ data.plugin.getUriAjax('UpdateItemAmount', { key: item.getKey() } ) }}">
                                        {% for i in 1..20 %}
                                            <option {% if item.getAmount() == i %}selected{% endif %} value="{{ i }}">{{ i }} x</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    {{ item.getAmount() }} x
                                {% endif %}

                            </td>
                            <td class="text-right" nowrap>
                                {% if item.getPriceGross() > 0 %}
                                    {{ item.getPriceGross() | number_format(2, ",", ".") }} EUR
                                {% else %}
                                    kostenlos
                                {% endif %}
                            </td>
                            <td class="text-right" nowrap>
                                {% if item.getTotal() > 0 %}
                                    {{ item.getTotal() | number_format(2, ",", ".") }} EUR
                                {% else %}
                                    kostenlos
                                {% endif %}
                            </td>

                            {% if data.editable %}
                                <td class="text-right">

                                    {% if not item.isBound() %}
                                        <a href="{{ data.plugin.getUriAjax('dropItem', { key: item.getKey() } ) }}" class="drop-item btn btn-danger"><i class="fal fa-times"></i></a>
                                    {% endif %}

                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                </tbody>
                <tfoot>

                    {% for coupon in data.shopcart.getRedeemedCoupons() %}
                        <tr>
                            <td class="text-right" colspan="3">
                                Coupon „{{ coupon.getCode() }}“ ({% if coupon.getConfig('valuePercent') %}{{ coupon.getConfig('valuePercent') }} %{% else %}{{ coupon.getValueLeft() | number_format(2,',','.') }} EUR{% endif %})

                                <a class="coupon-dismiss" href="{{ data.plugin.getUriAjax('dismissCoupon', { couponCode: coupon.getCode() }) }}"><i class="fa fa-times"></i></a>
                            </td>
                            <td class="text-right">-{{ coupon.getRedeemedValue() | number_format(2,',','.') }} EUR</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td class="d-none d-md-table-cell"></td>
                        <td class="text-right" colspan="2">
                            {% if data.shopcart.getShippingCosts() is same as (null) %}
                                zzgl. Versand
                            {% elseif data.shopcart.getShippingCosts() == 0 %}
                                Versand kostenlos
                            {% else %}
                                Versand
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if data.shopcart.getShippingCosts() is same as (null) or data.shopcart.getShippingCosts() == 0 %}

                            {% else %}
                                {{ data.shopcart.getShippingCosts() | number_format(2,',','.') }} EUR
                            {% endif %}
                        </td>
                        {% if data.editable %}<td></td>{% endif %}
                    </tr>

                    {% if data.shopcart.getTaxSections() %}
                        {% for section in data.shopcart.getTaxSections() %}
                            <tr>
                                <td class="d-none d-md-table-cell"></td>
                                <td class="text-right tax" colspan="2">inkl. {{ section.taxrate }} % MwSt. auf {{ section.total | number_format(2,',','.') }} EUR</td>
                                <td class="text-right tax">{{ section.tax | number_format(2,',','.') }} EUR</td>
                                {% if data.editable %}<td></td>{% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="d-none d-md-table-cell"></td>
                            <td class="text-right tax" colspan="2">inkl. 0 % MwSt. auf {{ section.total | number_format(2,',','.') }} EUR</td>
                            <td class="text-right tax">0,00 EUR</td>
                            {% if data.editable %}<td></td>{% endif %}
                        </tr>
                    {% endif %}

                    <tr>
                        <td class="d-none d-md-table-cell"></td>
                        <td class="total" colspan="2">Summe</td>
                        <td class="total" nowrap>{{ data.shopcart.getTotal() | number_format(2,',','.') }} EUR</td>
                        {% if data.editable %}<td></td>{% endif %}
                    </tr>
                </tfoot>
            </table>
        </div>

    {% endif %}

</div>