{% set items = data.shopcart.getItems() %}

<div class="Partial ShopSystem Checkout ItemsTable">

    {% if items | length == 0 %}
        <div class="xmessage">{{ "Core.ShopSystem.Message.NoItems" | translate }}</div>
    {% else %}

        <h3>{{ "Core.ShopSystem.H3ArticlesInShoppingCart" | translate }}</h3>

        <div class="table-responsive-sm">

            <table class="table checkout-items-table">
                <thead>
                    <tr>
                        <th class="d-none d-md-table-cell">{{ "Core.ShopSystem.TableHeadItems" | translate }}</th>
                        <th width="200" class="text-right">{{ "Core.ShopSystem.TableHeadNumber" | translate }}</th>
                        <th class="text-right">{{ "Core.ShopSystem.TableHeadPrice" | translate }}</th>
                        <th class="text-right">{{ "Core.ShopSystem.TableHeadTotal" | translate }}</th>
                        {% if data.editable %}<th width="75"></th>{% endif %}
                    </tr>
                </thead>
                <tbody>

                    {% for item in items %}

                        {% set product = item.getProduct() %}

                        <tr data-item="{{ item.getKey() }}" class="d-md-none">
                            <td colspan="3">
                                {% if item.getUri() and not plugin.getConfig('skipLinkage') %}
                                    <a href="{{ item.getUri() }}"><b>{{ item.getTitle() }}</b></a>
                                {% else %}
                                    <b>{{ item.getTitle() }}</b>
                                {% endif %}

                                {% if item.hasOptions() %}
                                    {% if data.editable %}
                                        <br /> <a class="open-options" style="font-size: 12px; line-height: 16px; color: #CCC;" href="{{ data.plugin.getUriAjax('modalOptions', { key: item.getKey() }) }}"><i class="fa-light fa-pencil"></i> Optionen bearbeiten</a>
                                    {% endif %}

                                    {% for option in item.getFieldOptions() %}
                                        <br />{{ option.group }}: {{ option.option }}{% if option.surcharge %} (+ {{ option.surcharge | number_format(2, ',', '.') }} {{ currencySign }}){% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% for equipment in item.getEquipment() %}
                                    <br />+ {{ equipment.title }} ({% if equipment.priceGross == 0 %}inkl.{% else %}{{ equipment.priceGross | number_format(2, ",", ".") }} {{ currencySign }}{% endif %})
                                {% endfor %}

                                {% if item.getCustomNote() %}
                                    <div class="customnote">{{ item.getCustomNote() | nl2br }}</div>
                                {% endif %}

                            </td>
                            <td class="d-none d-md-table-cell"></td>
                        </tr>
                        <tr data-item="{{ item.getKey() }}">
                            <td class="d-none d-md-table-cell">
                                {% if item.getUri() and not plugin.getConfig('skipLinkage') %}
                                    <a href="{{ item.getUri() }}">{{ item.getTitle() }}</a>
                                {% else %}
                                    {{ item.getTitle() }}
                                {% endif %}

                                {% if item.hasOptions() %}
                                    {% if data.editable %}
                                        <br /> <a class="open-options" style="font-size: 12px; line-height: 16px; color: #CCC;" href="{{ data.plugin.getUriAjax('modalOptions', { key: item.getKey() }) }}"><i class="fa-light fa-pencil"></i> Optionen bearbeiten</a>
                                    {% endif %}

                                    {% for option in item.getFieldOptions() %}
                                        <br />{{ option.group }}: {{ option.option }}{% if option.surcharge %} (+ {{ option.surcharge | number_format(2, ',', '.') }} {{ currencySign }}){% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% for equipment in item.getEquipment() %}
                                    <br />+ {{ equipment.title }} ({% if equipment.priceGross == 0 %}inkl.{% else %}{{ equipment.priceGross | number_format(2, ",", ".") }} {{ currencySign }}{% endif %})
                                {% endfor %}

                                {% if item.getCustomNote() %}
                                    <div class="customnote">{{ item.getCustomNote() | nl2br }}</div>
                                {% endif %}

                                {% if item.getMinimumAge() %}
                                    <div class="minimum-age">Mindestsalter für den Verkauf dieses Artikels ist {{ item.getMinimumAge() }} Jahre!</div>
                                {% endif %}
                            </td>
                            <td class="text-right">

                                {% if (product and product.getConfig('freeChoiceOfAmount') and product.getPackagingUnit()) and not (item.isBound() or item.isAmountFixed()) %}
                                    <div class="input-group mb-3">
                                        <input data-update="{{ data.plugin.getUriAjax('UpdateItemAmount', { key: item.getKey() } ) }}" type="tel" class="set-amount form-control" placeholder="Menge wählen ..." aria-label="Menge wählen" name="items[{{ item.getKey() }}][amount]" value="{{ item.getAmount() }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">{{ ("Core.ShopSystem.Plugins.ShopSystem.UnitShort" ~ product.getPackagingUnit()) | translate }}</span>
                                        </div>
                                    </div>
                                {% elseif data.editable and not item.isBound() and not item.isAmountFixed() %}
                                    <select size="1" name="items[{{ item.getKey() }}][amount]" class="set-amount" data-key="{{ item.getKey() }}" data-update="{{ data.plugin.getUriAjax('UpdateItemAmount', { key: item.getKey() } ) }}">
                                        {% for i in 1..item.getAmountMax() %}
                                            <option {% if item.getAmount() == i %}selected{% endif %} value="{{ i }}">{{ i }} x</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    {{ item.getAmount() }} x
                                {% endif %}

                            </td>
                            <td class="text-right" nowrap>

                                {% if not plugin.getConfig('showNetPrices') %}
                                    {% if item.getPriceGrossFinal() > 0 %}
                                        {{ item.getPriceGrossFinal() | number_format(2, ",", ".") }} {{ currencySign }}
                                    {% else %}
                                        kostenlos
                                    {% endif %}
                                {% else %}
                                    {% if item.getPrice() > 0 %}
                                        {{ item.getPrice() | number_format(2, ",", ".") }} {{ currencySign }}
                                    {% else %}
                                        kostenlos
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-right" nowrap>

                                {% if not plugin.getConfig('showNetPrices') %}
                                    {% if item.getTotal() > 0 %}
                                        {{ item.getTotal() | number_format(2, ",", ".") }} {{ currencySign }}
                                    {% else %}
                                        kostenlos
                                    {% endif %}
                                {% else %}
                                    {% if item.getTotalNet() > 0 %}
                                        {{ item.getTotalNet() | number_format(2, ",", ".") }} {{ currencySign }}
                                    {% else %}
                                        kostenlos
                                    {% endif %}
                                {% endif %}
                            </td>

                            {% if data.editable %}
                                <td class="text-right">

                                    {% if not item.isBound() %}
                                        <a href="{{ data.plugin.getUriAjax('dropItem', { key: item.getKey() } ) }}" class="drop-item btn btn-danger"><i class="fal fa-times"></i></a>
                                    {% endif %}

                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                </tbody>
                <tfoot>

                    {% if plugin.getConfig('showNetPrices') %}
                        <tr>
                            <td class="text-right" colspan="3">Netto</td>
                            <td class="text-right">{{ data.shopcart.getTotalNetItems() | number_format(2,',','.') }} {{ currencySign }}</td>
                            {% if data.editable %}<td></td>{% endif %}
                        </tr>
                    {% endif %}


                    {% for coupon in data.shopcart.getRedeemedCoupons() %}
                        <tr>
                            <td class="text-right" colspan="3">
                                Coupon „{{ coupon.getCode() }}“ ({% if coupon.getConfig('valuePercent') %}{{ coupon.getConfig('valuePercent') }} %{% else %}{{ coupon.getValueLeft() | number_format(2,',','.') }} {{ currencySign }}{% endif %})

                                <a class="coupon-dismiss" href="{{ data.plugin.getUriAjax('dismissCoupon', { couponCode: coupon.getCode() }) }}"><i class="fa fa-times"></i></a>
                            </td>
                            <td class="text-right">-{{ coupon.getRedeemedValue() | number_format(2,',','.') }} {{ currencySign }}</td>
                        </tr>
                    {% endfor %}

                    {% if not plugin.getConfig('skipShipping') and data.shopcart.getShipping('type') != "selfPickup" %}
                        <tr>
                            <td class="text-right" colspan="3">

                                {% if data.shopcart.getShippingCosts() is same as (null) %}
                                    zzgl. Versand
                                {% elseif data.shopcart.getShippingCosts() == 0 %}
                                    {{ "Core.ShopSystem.FreeShipping" | translate }}
                                {% else %}
                                    Versand
                                {% endif %}


                                {% if data.shopcart.getShippingCostsExtra() %}
                                    <div style="color: #999; font-size: 16px;">
                                        {% for extra in data.shopcart.getShippingCostsExtra() %}
                                            inkl. {{ extra.description }} ({{ extra.costs }} €)<br />
                                        {% endfor %}
                                    </div>

                                {% endif %}

                            </td>
                            <td class="text-right">
                                {% if data.shopcart.getShippingCosts() is same as (null) or data.shopcart.getShippingCosts() == 0 %}

                                {% else %}
                                    {{ data.shopcart.getShippingCosts() | number_format(2,',','.') }} {{ currencySign }}
                                {% endif %}
                            </td>
                            {% if data.editable %}<td></td>{% endif %}
                        </tr>
                    {% endif %}

                    {% if data.shopcart.getTaxSections() %}
                        {% for section in data.shopcart.getTaxSections() %}
                            <tr>
                                <td class="d-none d-md-table-cell"></td>
                                <td class="text-right tax" colspan="2">
                                    {% if plugin.getConfig('showNetPrices') %}
                                        zzgl. {{ section.taxrate }} % USt. auf {{ section.net | number_format(2,',','.') }} {{ currencySign }}
                                    {% else %}
                                       {{ "Core.ShopSystem.Plugins.Checkout.VatIncludedOn" | translate(section.taxrate, (section.total | number_format(2,',','.')) ) }}
                                    {% endif %}
                                </td>
                                <td class="text-right tax">{{ section.tax | number_format(2,',','.') }} {{ currencySign }}</td>
                                {% if data.editable %}<td></td>{% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="d-none d-md-table-cell"></td>
                            <td class="text-right tax" colspan="2">
                                zzgl 0 % MwSt. auf {{ section.total | number_format(2,',','.') }} {{ currencySign }}
                            </td>
                            <td class="text-right tax">0,00 {{ currencySign }}</td>
                            {% if data.editable %}<td></td>{% endif %}
                        </tr>
                    {% endif %}

                    <tr>
                        <td class="d-none d-md-table-cell"></td>
                        <td class="total" colspan="2">{{ "Core.ShopSystem.TableFootTotal" | translate }}</td>
                        <td class="total" nowrap>{{ data.shopcart.getTotal() | number_format(2,',','.') }} {{ currencySign }}</td>
                        {% if data.editable %}<td></td>{% endif %}
                    </tr>
                </tfoot>
            </table>
        </div>

    {% endif %}

</div>
