{# config

title: Standard
variables:
    imageWidth:
        type: int
        label: Bildbreite
        default: 800
    imageHeight:
        type: int
        label: Bildhöhe
        default: 500
    withLayoutContainer:
        type: bool
        label: mit Layout-Container
    skipAddress:
        type: bool
        label: ohne Anschrift
    skipMap:
        type: bool
        label: Ohne Google-Maps Karte
    skipHeadline:
        type: bool
        label: Ohne Überschrift

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set icons = view.getViewhelper('Ext/HerrUndFrauPixelExt/Icons/Icons', { createDummyOnFail: true  }) %}

{% set addresses = i.getAddresses() %}

<script nonce="{{ settings.nonce }}">
    var map = null;
    var addresses = [];

    {% for address in addresses %}
        {% if address.getLat() and address.getLng() %}
            var address = {
                lat: {{ address.getLat() }},
                lng: {{ address.getLng() }},
                addressId: {{ address.getId() }}
            };

            addresses.push(address);
        {% endif %}
    {% endfor %}


    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        const uluru = { lat: addresses[0].lat, lng: addresses[0].lng };
        // The map, centered at Uluru
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: uluru,
        });
    }

    window.initMap = initMap;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ plugin.getConfig('googleMapsApiKey') }}&callback=initMap&v=weekly" defer></script>

<div class="plugin Core Addresses AddressDatabase Index02">

    {% if not variables.skipHeadline %}
        <div class="headline-wrapper">
            {% if variables.withLayoutContainer %}<div class="container">{% endif %}
                <div class="row">
                    <div class="col-12">
                        <h2 class="main-title first" data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>
                    </div>
                </div>
            {% if variables.withLayoutContainer %}</div>{% endif %}
        </div>
    {% endif %}

    {% if not variables.skipMap %}
        <div id="map"></div>
    {% endif %}

    {% if variables.withLayoutContainer %}<div class="container">{% endif %}


    <div class="addresses">
        {% for address in addresses %}
            <div class="address-teaser" id="address{{ address.getId() }}">
                <div class="row">
                    <div class="col-md-6 order-md-{{ loop.index % 2 + 1 }}">

                        <h3 class="first" data-editable data-uid="{{ address.getUid('title') }}">{{ address.getTitle() }}</h3>

                        <div data-editable data-uid="{{ address.getUid('teaser') }}"></div>

                        {% if not variables.skipAddress %}
                            <p class="address">
                                <span class="p-street-address">{{ address.getStreet() }} {{ address.getStreetNumber() }}</span><br />
                                <span class="p-postal-code">{{ address.getZipcode() }}</span> <span class="p-locality">{{ address.getCity() }}</span>
                            </p>

                            <p>
                                {% if address.getPhone() %}
                                    <a href="tel:{{ address.getPhone() }}">{{ icons.render('phone', [ 'fa-fw' ]) | raw}}<span class="tel">{{ address.getPhone() }}</span></a><br />
                                {% endif %}

                                {% if address.getEmail() %}
                                    <a href="mailto:{{ address.getEmail() }}">{{ icons.render('envelope', [ 'fa-fw' ]) | raw}}{{ address.getEmail() }}</a><br />
                                {% endif %}

                                {% if address.getUrlExtern() %}
                                    <a href="{{ address.getUrlExtern() }}">{{ icons.render('link', [ 'fa-fw' ]) | raw}}{{ address.getUrlDisplay() }}</a><br />
                                {% endif %}
                            </p>

                            {% set openingTimes = address.getOpeningTimes() %}

                            {% if openingTimes | length %}

                                <h4>Öffnungszeiten</h4>

                                <table class="table opening-times">
                                    <tbody>
                                        {% for openingTime in openingTimes %}
                                            <tr>
                                                <td>
                                                    {% for day, state in openingTime.getConfig('days') %}
                                                        {{ ("Core.Addresses.Plugins.AddressDatabase.WeekdayShort" ~ day) | translate }}.
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% if openingTime.isClosed() %}
                                                        geschlossen
                                                    {% else %}
                                                        {{ openingTime.getConfig('timeFrom') }}–{{ openingTime.getConfig('timeTo') }} Uhr
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            {% endif %}

                        {% endif %}

                    </div>
                    <div class="col-md-6 order-md-{{ (loop.index + 1) % 2 + 1 }}">

                        {% set Uri = address.getUri() %}

                        <div class="image-wrapper" {% if Uri %}data-href{% endif %}>

                            <picture class="fluid" data-editable data-uid="{{ address.getUid('image') }}">
                                <img width="{{ variables.imageWidth }}" height="{{ variables.imageHeight }}" src="{{ i.getDummyImage({ width: variables.imageWidth, height: variables.imageHeight | default(300) }) }}" alt="" />
                            </picture>

                            {% if Uri %}
                                <p class="read-more">
                                    <a href="{{ Uri }}" class="btn btn-primary"><span data-uid="{{ address.getUid('teaser-link') }}" data-editable-element>Mehr erfahren</span></a>
                                </p>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if variables.withLayoutContainer %}</div>{% endif %}

</div>
