{# config

title: Thumbnail-Karussell

/config #}

{% set i = view.getViewhelper('Delegator', { object: widget }) %}

{% set images = i.getImages() %}

{% if images.getCount > 0 %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        {% set pages = (images.getCount() / 4) | round(0, 'ceil') %}

        {% if pages > 1 %}
            <ol class="carousel-indicators">
                {% for x in 0..(pages - 1) %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ x }}" class="{% if x == 0 %}active{% endif %}"></li>
                {% endfor %}
            </ol>
        {% endif %}

        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="row justify-content-md-center">

                    {% for image in images %}
                        <div class="col-3">
                            <a href="{{ image.getUriThumbnail() }}" data-fancybox="gallery">
                                <picture class="fluid" data-editable data-uid="{{ event.getUid('image') }}">
                                    <img {% if widget.getImageWidth > 0 %}width="{{ widget.getImageWidth }}"{% endif %} height="{{ widget.getImageHeight }}" src="{{ image.getUri({ width: widget.getImageWidth, height: widget.getImageHeight }) }}" alt="{{ image.getAlt() }}" />
                                </picture>
                            </a>
                        </div>

                        {% if loop.index % 4 == 0 and images.getCount() > loop.index %}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                        {% endif %}

                    {% endfor %}

                </div>
            </div>


        </div>

        {% if pages > 1 %}
            <a class="carousel-control-prev" data-norewrite="1" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" data-norewrite="1" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        {% endif %}
    </div>

{% endif %}