{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<script nonce="{{ settings.nonce }}">
    $(function ( ) {

        $('#updateVideoForm').submit(function ( event ) {

            event.preventDefault();
            event.stopImmediatePropagation();

            $.ajax({
                url: $(this).attr('action'),
                data: $(this).serialize(),
                type: 'POST',
                headers: {
                    Accept: "application/json; charset=utf-8",
                },
                success: function ( response ) {

                    $('figure[data-id="' + response.widget.id + '"]').replaceWith(response.widget.html);

                    $('#fbxEditorGenericModal').modal('hide');
                },
                error: function ( xhr ) {
                    alert(xhr.responseText);
                }
            });

        });
    });
</script>


<form id="updateVideoForm" action="{{ widgetController.getAdminUrl('ajaxUpdate') }}" method="post">

    <div class="modal-header">
        <h5 class="modal-title">Video bearbeiten</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="url">Video URL</label>
            <input type="text" name="url" id="url" value="{{ widgetController.getWidget().getConfig('url') }}" class="form-control" placeholder="Video URL" />
        </div>
        <div class="form-group">
            <label for="maxWidth">maximale Breite</label>
            <input type="number" name="maxWidth" id="maxWidth" value="{{ widget.getMaxWidth }}" class="form-control" placeholder="maximale Breite" />
        </div>
        <div class="form-group">
            <label for="maxHeight">maximale Höhe</label>
            <input type="number" name="maxHeight" id="maxHeight" value="{{ widget.getMaxHeight }}" class="form-control" placeholder="maximale Höhe" />
        </div>
        <div class="form-group">
            <label for="source">Quelle</label>
            <input type="text" name="source" id="source" value="{{ widget.getConfig('source') }}" class="form-control" placeholder="Quelle" />
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="autoplay" name="autoplay" {% if widget.getConfig('autoplay') %}checked{% endif %}>
            <label class="form-check-label" for="autoplay">Autoplay</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="loop" name="loop" {% if widget.getConfig('loop') %}checked{% endif %}>
            <label class="form-check-label" for="loop">Loop</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="muted" name="muted" {% if widget.getConfig('muted') %}checked{% endif %}>
            <label class="form-check-label" for="muted">Muted</label>
        </div>


        <!--
        <div class="form-check">
            <input {% if widget.getConfig('privacyGuard') %}checked{% endif %} class="form-check-input" type="checkbox" value="1" id="privacyGuard" name="privacyGuard">
            <label class="form-check-label" for="privacyGuard">
                mit Datenschutzwächter
            </label>
        </div>
        -->

        {{ v.injectPartial('Frootbox/Ext/Core/FileManager/Editor/Partials/FileUpload', {
            multiple: false,
            uid: widget.getUid('video'),
            onComplete: 'refreshEditable',
        }) | raw }}

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>

</form>
