{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<h2>
    Veranstaltungs-Buchung
</h2>

<p><a class="ajax" href="{{ v.getUri('Page', 'ajaxPanelContent', { 'pageId' : plugin.getPageId() }) }}"><i class="fa fa-chevron-circle-left"></i> zurück</a></p>

<div class="row">
    <div class="col">

        <div class="card">
            <div class="card-body">

                <form method="post" action="{{ plugin.getAdminUri('Index', 'ajaxUpdate') }}" class="ajax">

                    <div class="row">
                        <div class="col-md-6">

                            <h3>Konfiguration</h3>

                            <div class="form-group">
                                <label for="source">Quelle wählen</label>
                                <select class="form-control" multiple id="source" name="source[]" size="{{ plugins | length }}">

                                    {% for plg in plugins %}
                                        <option {% if plg.getId() in plugin.getConfig('source') %}selected{% endif %} value="{{ plg.getId() }}">
                                            {{ plg.getPage.getTitle }} / {{ plg.getTitle | default(plg.getClassName) }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>

                            <h3>Zahlungsarten</h3>

                            {% for paymentMethod in paymentMethods %}
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="paymentmethods_{{ paymentMethod }}" name="paymentmethods[{{ paymentMethod }}]" {% if plugin.getConfig('paymentmethods.' ~ paymentMethod) %}checked{% endif %}>
                                    <label class="form-check-label" for="paymentmethods_{{ paymentMethod }}">{{ paymentMethod }}</label>
                                </div>
                            {% endfor %}


                        </div>
                        <div class="col-md-6">

                            <h3>Buchung</h3>

                            <div class="form-group">
                                <label for="recipient">E-Mail Empfänger</label>
                                <input type="email" class="form-control" id="recipient" name="recipient" placeholder="E-Mail" value="{{ plugin.getConfig('recipient') }}">
                            </div>
                            <div class="form-group">
                                <label for="mailTemplate">Mail-Vorlage</label>
                                <select class="form-control" id="mailTemplate" name="mailTemplate" size="1">
                                    {% for template in mailTemplates %}
                                        <option {% if plugin.getConfig('mailTemplate') == template.file %}selected{% endif %} value="{{ template.file }}">{{ template.file }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="minPersons">min. Personen</label>
                                <input type="int" class="form-control" id="minPersons" name="minPersons" placeholder="min. Personen" value="{{ plugin.getConfig('minPersons') }}">
                            </div>
                            <div class="form-group">
                                <label for="fixPersons">fix Personen</label>
                                <input type="int" class="form-control" id="fixPersons" name="fixPersons" placeholder="fix Personen" value="{{ plugin.getConfig('fixPersons') }}">
                                <small id="emailHelp" class="form-text text-muted">Die Buchung erfolgt immer auf diese Personenzahl, wenn angegeben.</small>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="closeEventAfterFirstBooking" name="closeEventAfterFirstBooking" {% if plugin.getConfig('closeEventAfterFirstBooking') %}checked{% endif %}>
                                <label class="form-check-label" for="closeEventAfterFirstBooking">Veranstaltung nach erster Buchung direkt schließen</label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="alwaysBookCompleteEvent" name="alwaysBookCompleteEvent" {% if plugin.getConfig('alwaysBookCompleteEvent') %}checked{% endif %}>
                                <label class="form-check-label" for="alwaysBookCompleteEvent">immer ganze Veranstaltung buchen</label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="hideTotalCosts" name="hideTotalCosts" {% if plugin.getConfig('hideTotalCosts') %}checked{% endif %}>
                                <label class="form-check-label" for="hideTotalCosts">Gesamtpreis nicht anzeigen</label>
                                <small id="emailHelp" class="form-text text-muted">Bei Kaufabschluss eventuell inkompatibel mit Button-Lösung!</small>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="hidePersons" name="hidePersons" {% if plugin.getConfig('hidePersons') %}checked{% endif %}>
                                <label class="form-check-label" for="hidePersons">Personenzahl nicht anzeigen</label>
                            </div>
                            <div class="form-group">
                                <label for="buttonLabel">Button Beschriftung</label>
                                <input type="text" class="form-control" id="buttonLabel" name="buttonLabel" placeholder="Button Beschriftung" value="{{ plugin.getConfig('buttonLabel') }}">
                                <small id="emailHelp" class="form-text text-muted">Text auf dem Button zum Abschluss der Buchung. Leer lassen für Standard-Wert.</small>
                            </div>

                        </div>
                    </div>



                    <button type="submit" class="btn btn-primary">Speichern</button>

                </form>

            </div>
        </div>

    </div>
</div>
