{# config

title: Standard
variables:
    withContainer:
        label: mit Container
        type: bool
        default: false

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set p = view.getViewhelper('Partials', { plugin: plugin }) %}


<div class="plugin Core ShopSystem Checkout ChoiceOfSelfPickupTime01">

    <div class="container">

        {{ p.renderPartial('\\Frootbox\\Ext\\Core\\ShopSystem\\Plugins\\Checkout\\Partials\\CartProgress', {
            plugin: plugin,
            step: 'ChoiceOfSelfPickupTime',
        }) | raw }}

        {% if plugin.hasAttribute('error') %}
            <div class="message danger">{{ ("Exceptions." ~ plugin.getAttribute('error')) | translate }}</div>
        {% endif %}

        <div class="row">
            <div class="col-12">

                <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('titleSelfPickupTime') }}">Abholzeit wählen</h2>

                <div class="row">
                    <div class="col-md-6">

                        <form action="{{ plugin.getajaxUri('UpdateDeliveryTime') }}" method="post">

                            {% for PickupTime in SelfPickupTimes %}
                                <div class="form-group form-check">
                                    <input {% if SelfPickupTimes | length == 1 %}checked{% endif %} type="radio" class="form-check-input" id="PickupTime{{ loop.index }}" name="PickupTime" value="{{ PickupTime.getId() }}">
                                    <label class="form-check-label" for="PickupTime{{ loop.index }}">{{ PickupTime.getDateStart() | date('H:i') }}–{{ PickupTime.getDateEnd() | date('H:i') }} {{ "Core.ShopSystem.Plugins.Checkout.Time" | translate }}</label>
                                </div>
                            {% endfor %}

                            <br />

                            <button type="submit" class="btn btn-primary">{{ "Core.ShopSystem.ButtonGoFurther" | translate }}</button>

                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
