{# config

title: Cards
variables:
    columns:
        type: int
        label: Spalten
        default: 2
    withThumbnail:
        type: bool
        label: mit Thumbnail
    withOwnTeaser:
        type: bool
        label: eigener Teaser-Text für Vorschau
/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set t = i.getTranslator() %}

{% if variables.columns == 1 %}
    {% set colClass = "col-12" %}
{% elseif variables.columns == 2 %}
    {% set colClass = "col-md-6" %}
{% elseif variables.columns == 3 %}
    {% set colClass = "col-md-4" %}
{% elseif variables.columns >= 4 %}
    {% set colClass = "col-md-3" %}
{% endif %}

<div class="plugin Core HelpAndSupport Jobs Index04">

    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

                <div data-editable data-uid="{{ plugin.getUid('teaser') }}"></div>

            </div>
        </div>

        <div class="xcards">
            <div class="row">

                {% for job in jobs %}
                    <div class="{{ colClass }}">
                        <div class="xcard" data-equalheight="{{ plugin.getUid('xcards-height') }}" data-href>

                            {% if variables.withThumbnail %}
                                <picture class="fluid" data-editable data-uid="{{ job.getUid('image')}}">
                                    <img width="600" height="400" src="{{ i.getDummyImage({ width: 600, height: 400 }) }}" alt="" />
                                </picture>
                            {% endif %}

                            <div class="content-wrapper">
                                <h4>{{ job.getTitle() }}</h4>

                                {% if job.getTypes() | length %}
                                    {% for TypeId in job.getTypes() %}
                                        <span class="badge bg-light">{{ t.translate('Type' ~ TypeId) }}</span>
                                    {% endfor %}
                                {% endif %}



                                <p>
                                    {% if job.getConfig('typeId') %}
                                        {{ t.translate('Type' ~ job.getConfig('typeId')) }} /
                                    {% elseif job.getConfig('type') %}
                                        {{ job.getConfig('type') }} /
                                    {% endif %}

                                    {% if job.getLocation() %}
                                        {{ job.getLocation().getTitle() }} /
                                        {% if variables.showCountry and job.getLocation().getCountry() %}
                                            / {{ job.getLocation().getCountry() }} /
                                        {% endif %}
                                    {% endif %}

                                    {% if job.getConfig('asSoonAsPossible') %}
                                        {{ t.translate('asSoonAsPossible') }}
                                    {% elseif job.getConfig('start') %}
                                        {{ job.getConfig('start') }}
                                    {% elseif job.getDateStart() %}
                                        ab {{ job.getDateStart() | date('d.m.Y') }}
                                    {% endif %}


                                    {% if job.getConfig('SalaryFrom') and not job.getConfig('SalaryTo') %}
                                        <br />ab {{ job.getConfig('SalaryFrom') | number_format(0, ",", ".") }} €
                                    {% elseif job.getConfig('SalaryTo') and not job.getConfig('SalaryFrom') %}
                                        <br />bis {{ job.getConfig('SalaryTo') | number_format(0, ",", ".") }} €
                                    {% elseif job.getConfig('SalaryTo') and job.getConfig('SalaryFrom') %}
                                        <br />{{ job.getConfig('SalaryFrom') | number_format(0, ",", ".") }} bis {{ job.getConfig('SalaryTo') | number_format(0, ",", ".") }} €
                                    {% endif %}
                                </p>



                                {% set uid = variables.withOwnTeaser ? job.getUid('teaser-own') : job.getUid('teaser') %}

                                <div data-editable data-nowidgets data-uid="{{ uid }}"></div>

                                {% if job.getUri() %}
                                    <p class="read-more"><a href="{{ job.getUri() }}"><span data-editable-element data-uid="{{ plugin.getUid('button-more-info') }}">mehr Infos</span></a></p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

</div>
