{# config

title: Standard

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

{% set articles = i.getArticles() %}

<div class="row">
    <div class="col-12 plugin Core News Teaser Index03">

        <h2 data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

        <div data-editable data-uid="{{ plugin.getUid('teaser-text') }}"></div>

        {% for article in articles %}
            <div class="row news-teaser">
                <div class="col-12">
                    <h3 data-editable data-uid="{{ article.getUid('title') }}">{{ article.getTitle }}</h3>
                </div>
                <div class="col-6 order-2">
                    <picture class="fluid" data-skipempty="" data-editable data-uid="{{ article.getUid('image')}}">
                        <img width="600" height="350" src="{{ i.getDummyImage({ width: 600, height: 350}) }}" alt="" />
                    </picture>
                </div>
                <div class="col-6 order-1">
                    <div data-nowidgets data-editable data-uid="{{ article.getUid('teaser') }}"></div>
                    <p><a href="{{ article.getUri }}"><i class="fa fa-chevron-circle-right icon"></i> weiterlesen</a></p>
                </div>
            </div>
        {% endfor %}

    </div>
</div>