{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{% if events.getCount == 0 %}
	<div class="message warning">Es wurden noch keine Veranstaltungen erstellt.</div>
{% else %}

	<form action="{{ plugin.getAdminUri('Event', 'ajaxMultiAction') }}" class="ajax" method="post">

		<table class="table">
			<thead>
				<tr>
					<th width="50"></th>
					<th>Veranstaltung</th>
					<th>Start</th>
					<th>Ende</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				{% for event in events %}
					<tr class="ajax {% if data.highlight == event.getId %}highlighted{% endif %}" data-href="{{ data.plugin.getAdminUri('Event', 'details', { eventId: event.getId() }) }}">
						<td><input style="margin-left: 5px" name="event[{{ event.getId() }}]" type="checkbox" class="form-check-input" /></td>
						<td>
							{{ event.getTitle }}

							{% if event.getConfig('bookable.seats') > 0 %}
								<br />
								<i class="far fa-user"></i> {{ event.getConfig('bookable.bookedSeats') | default(0) }}/{{ event.getConfig('bookable.seats') }}

								{% if event.getConfig('bookable.price') %}
									<i class="far fa-euro-sign"></i> {{ event.getConfig('bookable.price') | number_format(2, ",", ".") }}
								{% endif %}
							{% endif %}

							{% for tag in event.getTags() %}
								<span class="badge badge-secondary">{{ tag.getTag() }}</span>
							{% endfor %}

						</td>
						<td nowrap>
							{{ event.getDateStart.format('%d.%m.%Y') }}

							{% if event.getDateStart.format('%H:%M') != "00:00" %}
								{{ event.getDateStart.format('%H:%M') }} Uhr
							{% endif %}
						</td>
						<td nowrap>
							{{ event.getDateEnd.format('%d.%m.%Y') }}

							{% if event.getDateEnd.format('%H:%M') != "00:00" %}
								{{ event.getDateEnd.format('%H:%M') }} Uhr
							{% endif %}
						</td>
						<td class="text-right" nowrap>
							<a class="ajax" href="{{ data.plugin.getAdminUri('Event', 'ajaxSwitchVisibility', { eventId: event.getId() }) }}"><i data-event="{{ event.getId() }}" class="fa fa-lightbulb visibility {{ event.getVisibilityString() }} icon"></i></a>
							<a class="ajax" data-confirm="Soll diese Veranstaltung wirklich gelöscht werden?" href="{{ data.plugin.getAdminUri('Event', 'ajaxDelete', { eventId: event.getId() }) }}"><i class="far fa-trash icon"></i></a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

		<button type="submit" name="subAction" value="clone" class="btn btn-primary">Events klonen</button>

	</form>

{% endif %}