{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}
{% set integration = view.getViewHelper('\\Frootbox\\Ext\\Core\\ShopSystem\\Viewhelper\\Integration') %}

<h2 id="categoriesHead">
    Buchungs-Details

    <span class="headoptions">
        <span class="dropdown">
            <i class="far fa-bars dropdown-toggle" data-toggle="dropdown"></i>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="ajax dropdown-item" href="{{ plugin.getAdminUri('Bookings', 'ajaxEmailResendMod', { bookingId: booking.getId() }) }}"><i class="far fa-fw fa-envelope icon"></i>Buchungsbenachrichtigung erneut senden</a>

                {% if plugin.getConfig('invoice.createOnCheckout') %}
                    <a class="dropdown-item" href="{{ plugin.getAdminUri('Bookings', 'downloadInvoice', { bookingId: booking.getId() }) }}"><i class="far fa-fw fa-download icon"></i>Rechnung herunterladen</a>
                {% endif %}

                {% if integration.canTransferBooking() %}
                    <a class="dropdown-item ajax" href="{{ plugin.getAdminUri('Bookings', 'ajaxBookingTransfer', { bookingId: booking.getId() }) }}"><i class="far fa-fw fa-cloud icon"></i>Buchung übertragen{% if booking.getConfig('transfer.id') %} (wurde übertragen){% endif %}</a>
                {% endif %}

            </div>
        </span>
    </span>

</h2>

<p><a class="ajax" href="{{ plugin.getAdminUri('Bookings', 'index', { highlight: booking.getId() }) }}"><i class="fa fa-chevron-circle-left"></i> zurück</a></p>

<div class="row">
    <div class="col-md-6">

        <table class="table">
            <tbody>
                <tr>
                    <td width="25%">Buchung</td>
                    <td>#{{ booking.getId() }}</td>
                </tr>
                <tr>
                    <td>Datum</td>
                    <td>{{ booking.getDate() | date('d.m.Y H:i:s') }} Uhr</td>
                </tr>

            </tbody>
        </table>

    </div>
    <div class="col-md-6">

        <table class="table">
            <tbody>
            <tr>
                <td width="25%">Bemerkung</td>
                <td>{{ booking.getConfig('note') | nl2br | default('keine Bemerkung') }}</td>
            </tr>

            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <h3>persönliche Daten</h3>

        <table class="table">
            <tbody>
                {% if booking.getConfig('personal.company') %}
                    <tr>
                        <td>Firma</td>
                        <td>{{ booking.getConfig('personal.company') }}</td>
                    </tr>
                {% endif %}

                {% if booking.getConfig('personal.vat') %}
                    <tr>
                        <td>USt. IdNr.</td>
                        <td>{{ booking.getConfig('personal.vat') }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <td width="25%">Name</td>
                    <td>{{ booking.getConfig('personal.firstname') }} {{ booking.getConfig('personal.lastname') }}</td>
                </tr>
                <tr>
                    <td>E-Mail</td>
                    <td><a href="mailto:{{ booking.getConfig('personal.email') }}">{{ booking.getConfig('personal.email') }}</a></td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td><a href="tel:{{ booking.getConfig('personal.phone') }}">{{ booking.getConfig('personal.phone') }}</a></td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td>
                        {{ booking.getConfig('personal.street') }} {{ booking.getConfig('personal.streetNumber') }}<br />
                        {{ booking.getConfig('personal.postalCode') }} {{ booking.getConfig('personal.city') }}
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Lieferadresse</h3>

        {% if booking.getConfig('shipping.type') == "selfPickup" %}
            <div class="card">
                <div class="card-body">
                    <p>Selbstabholung.</p>

                    {% if booking.getConfig('shipping.pickupDay') %}
                        <p>
                            {{ booking.getConfig('shipping.pickupDay') | date('d.m.Y') }}<br />
                            {{ booking.getConfig('shipping.pickupTime') }}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% elseif booking.getConfig('shipping.type') == 'shipToBillingAddress' %}
            <div class="card">
                <div class="card-body">
                    <p>Gleich wie Rechnungsadresse.</p>
                </div>
            </div>
        {% else %}

            <table class="table">
                <tbody>
                    <tr>
                        <td width="25%">Name</td>
                        <td>{{ booking.getConfig('shipping.firstname') }} {{ booking.getConfig('shipping.lastname') }}</td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td>
                            {{ booking.getConfig('shipping.street') }} {{ booking.getConfig('shipping.streetNumber') }}<br />
                            {{ booking.getConfig('shipping.postalCode') }} {{ booking.getConfig('shipping.city') }}
                        </td>
                    </tr>
                </tbody>
            </table>

        {% endif %}

        {% if booking.getConfig('shipping.deliveryDay') %}
            <h3>gewünschter Liefertermin</h3>

            <div class="card">
                <div class="card-body">
                    <p>{{ booking.getConfig('shipping.deliveryDay') | date('d.m.Y') }}</p>
                </div>
            </div>
        {% endif %}

        <h3>Bezahlung</h3>

        <table class="table">
            <tbody>
                <tr>
                    <td width="25%">Zahlungsart</td>
                    <td>{{ paymentMethod.getTitle() }}</td>
                </tr>
                <tr>
                    <td>Informationen</td>
                    <td>{{ summary | raw }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-6">

        <h3>Artikel</h3>

        <table class="table">
            <tbody>
                {% for item in booking.getItems() %}
                    <tr>
                        <td>
                            {{ item.getAmount() }} x {{ item.getTitle() }}<br />

                            {% if item.getFieldOptions() %}
                                {% for option in item.getFieldOptions() %}
                                    {{ option.group }}: {{ option.option }}<br />
                                {% endfor %}
                            {% endif %}


                            <span style="color: #999;">
                                {% if item.getItemNumber() %}
                                    Art.-Nr. {{ item.getItemNumber() }}<br />
                                {% endif %}
                                Preis: {{ item.priceGross }} EUR
                            </span>

                            {% if item.getAdditionalText() %}
                                <br />{{ item.getAdditionalText() | nl2br }}
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        {% if booking.getCoupons() | length > 0 %}
            <h3>eingelöste Gutscheine</h3>

            <table class="table">
                <tbody>
                    {% for couponData in booking.getCoupons() %}
                        <tr>
                            <td width="25%">{{ couponData.code }}</td>
                            <td>{{ couponData.redeemedValue }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
</div>

<h3>Artikel</h3>

<table class="table positions" cellpadding="0" cellspacing="0">
    <col width="50">
    <col width="75">
    <col width="280">
    <col width="100">
    <col width="100">
    <thead>
    <tr>
        <th style="font-size: 8pt;">Pos.</th>
        <th style="font-size: 8pt;">Anzahl</th>
        <th style="font-size: 8pt;">Beschreibung</th>
        <th style="font-size: 8pt; text-align: right;">Betrag</th>
        <th style="font-size: 8pt; text-align: right;">Summe</th>
    </tr>
    </thead>
    <tbody>

    {% for product in booking.getItems() %}
        <tr>
            <td style="font-size: 8pt;">{{ loop.index }}</td>
            <td style="font-size: 8pt;">{{ product.amount }}</td>
            <td style="font-size: 8pt;">
                <b>{{ product.title }}</b>
                {% if product.customNote %}
                    <br />{{ product.customNote | nl2br }}
                {% endif %}
            </td>
            <td style="text-align: right; font-size: 8pt;">
                {{ product.getPriceFinal() | number_format(2, ',', '.')}} {{ currencySign }}
            </td>
            <td style="text-align: right; font-size: 8pt;">
                {{ product.getTotal() | number_format(2, ',', '.')}} {{ currencySign }}
            </td>
        </tr>
    {% endfor %}

    </tbody>
    <tfoot>

    {#
    <tr class="border">
        <td></td>
        <td></td>
        <td></td>
        <td style="font-size: 8pt; text-align: right">
            Netto
        </td>
        <td style="font-size: 8pt; text-align: right">
            {{ booking.getTotalNet() | number_format(2, ',', '.')}} {{ currencySign }}
        </td>
    </tr>
    #}

    {% for section in booking.getTaxSections() %}
        <tr>
            <td></td>
            <td colspan="3" style="font-size: 8pt; text-align: right">
                inkl. {{ section.taxrate }} % USt. auf {{ section.total | number_format(2, ",") }} {{ currencySign }}
            </td>
            <td style="font-size: 8pt; text-align: right">
                {{ section.tax | number_format(2, ",") }} {{ currencySign }}
            </td>
        </tr>
    {% endfor %}



    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td style="font-size: 8pt; text-align: right">
            <b>Total</b>
        </td>
        <td style="font-size: 8pt; text-align: right">
            <b>{{ booking.getTotal() | number_format(2, ',', '.')}} {{ currencySign }}</b>
        </td>
    </tr>
    </tfoot>
</table>