<html>
    <head>

        <style>
            body {
                font-family: Arial;
                font-size: 14px;
            }

            td {
                font-size: 14px;
            }

            td.text-right {
                text-align: right;
            }

            table.items {
                margin: 20px 0;
            }

            table.items thead th {
                padding: 10px 0;
            }

            table.items td {
                padding: 9px 0;
                border-top: 1px solid #CCC;
            }

            a, a.email-link {
                color: #000;
            }

            h4, th {
                text-align: left;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }

        </style>


    </head>
    <body>

        <table width="100%">
            <tr>
                <td align="center">

                    <table width="600">
                        <tr>
                            <td>

                                <img src="{{ serverpath }}static/Ext/Core/Images/Email/serve/qs/EXT/{{ baseVendor }}:{{ baseExtension }}:images/f/logo-email.png" alt="" />

                                <br /><br /><br />

                                {% if textAbove %}
                                    <p>{{ textAbove | nl2br }}</p>
                                {% else %}
                                    <p>
                                        {{ "Core.ShopSystem.Plugins.Checkout.Mail.Greeting" | translate(shopcart.getPersonal('firstname') ~ " " ~ shopcart.getPersonal('lastname')) | raw }}
                                    </p>
                                    {#
                                    <p>
                                        <b>Hallo {{ shopcart.getPersonal('firstname') }} {{ shopcart.getPersonal('lastname') }},</b>
                                    </p>
                                    <p>
                                        vielen Dank für Ihre Bestellung bei uns. Anbei finden Sie eine Übersicht über Ihre Bestellung.
                                    </p>
                                    #}
                                {% endif %}



                                <br />

                                <p>
                                    {{ "Core.ShopSystem.Plugins.Checkout.Field.OrderNumber" | translate }}: {{ booking.getConfig('orderNumber') }}<br />
                                    Datum: {{ booking.getDate() | date('d.m.Y H:i') }} Uhr
                                </p>

                                <br />

                                <table width="100%">
                                    <tr>
                                        <td width="50" valign="top">

                                            <h4>{{ "Core.ShopSystem.Plugins.Checkout.H4PersonalData" | translate }}</h4>

                                            {% if shopcart.getPersonal('company') %}
                                                <p>{{ shopcart.getPersonal('company') }}</p>
                                            {% endif %}

                                            <p>
                                                {{ booking.getConfig('personal.firstname') }} {{ booking.getConfig('personal.lastname') }}<br />
                                                {{ booking.getConfig('personal.street') }} {{ booking.getConfig('personal.streetNumber') }}<br />
                                                {{ booking.getConfig('personal.postalCode') }} {{ booking.getConfig('personal.city') }}

                                                {% if booking.getConfig('personal.country') %}
                                                    <br />{{ ('Core.ShopSystem.Plugins.Checkout.Country.' ~ booking.getConfig('personal.country')) | translate }}
                                                {% endif %}
                                            </p>
                                            <p>
                                                <a class="email-link" href="mailto:{{ booking.getConfig('personal.email') }}">{{ booking.getConfig('personal.email') }}</a>
                                            </p>

                                            {% if booking.getConfig('personal.phone') %}
                                                <p>Telefon <a class="email-link" href="tel:{{ booking.getConfig('personal.phone') }}">{{ booking.getConfig('personal.phone') }}</a></p>
                                            {% endif %}

                                            <br />

                                            {% if shopcart.getBilling('differentBillingRecipient') %}

                                                <h4>Rechnungsadresse</h4>

                                                {% if shopcart.getBilling('company') %}
                                                    <p>{{ shopcart.getBilling('company') }}</p>
                                                {% endif %}

                                                <p>
                                                    {{ shopcart.getBilling('firstname') }} {{ shopcart.getBilling('lastname') }}<br />
                                                    {{ shopcart.getBilling('street') }} {{ shopcart.getBilling('streetNumber') }}<br />
                                                    {{ shopcart.getBilling('postalCode') }} {{ shopcart.getBilling('city') }}

                                                    {% if shopcart.getBilling('country') %}
                                                        <br />{{ ('Core.ShopSystem.Plugins.Checkout.Country.' ~ shopcart.getBilling('country')) | translate }}
                                                    {% endif %}

                                                </p>
                                            {% endif %}

                                        </td>
                                        <td width="50" valign="top">

                                            {% if booking.getConfig('shipping.type') == 'shipToBillingAddress' %}
                                                <h4>{{ "Core.ShopSystem.Plugins.Checkout.H4DeliveryAddress" | translate }}</h4>
                                                <p>{{ "Core.ShopSystem.Plugins.Checkout.BillingAddressIsDeliveryAddress" | translate }}</p>
                                            {% elseif booking.getConfig('shipping.type') == 'selfPickup' %}

                                                {% block TextSelfPickup %}
                                                    <h4>{{ "Core.ShopSystem.Plugins.Checkout.H4DeliveryAddress" | translate }}</h4>
                                                    <p>{{ "Core.ShopSystem.Plugins.Checkout.Field.SelfPickup" | translate }}</p>
                                                {% endblock %}

                                                {% if booking.getConfig('shipping.pickupDay') %}
                                                    <p>
                                                        <b>{{ "Core.ShopSystem.Plugins.Checkout.LabelPreferredPickupDate" | translate }}</b><br />
                                                        {{ booking.getConfig('shipping.pickupDay') | date('d.m.Y') }}
                                                    </p>
                                                {% endif %}

                                                {% if booking.getConfig('shipping.pickupTime') %}
                                                    <p>
                                                        <b>{{ "Core.ShopSystem.Plugins.Checkout.LabelPreferredPickupTime" | translate }}</b><br />
                                                        {{ booking.getConfig('shipping.pickupTime') }}
                                                    </p>
                                                {% endif %}


                                                {% if booking.getConfig('shipping.selfpickupAddressId') %}

                                                    {% set address = booking.getSelfpickupAddress() %}

                                                    <p>
                                                        <b>{{ address.getTitle() }}</b><br />
                                                        {{ address.getStreet() }} {{ address.getStreetNumber() }}<br />
                                                        {{ address.getZipcode() }} {{ address.getCity() }}
                                                    </p>

                                                    {% set note = booking.getSelfPickupAddressNote() %}

                                                    {{ note | raw }}

                                                {% endif %}

                                            {% elseif booking.getConfig('shipping.street') %}
                                                <h4>{{ "Core.ShopSystem.Plugins.Checkout.H4DeliveryAddress" | translate }}</h4>
                                                <p>
                                                    {{ booking.getConfig('shipping.firstname') }} {{ booking.getConfig('shipping.lastname') }}<br />
                                                    {% if booking.getConfig('shipping.addition') %}{{ booking.getConfig('shipping.addition') }}<br />{% endif %}
                                                    {{ booking.getConfig('shipping.street') }} {{ booking.getConfig('shipping.streetNumber') }}<br />
                                                    {{ booking.getConfig('shipping.postalCode') }} {{ booking.getConfig('shipping.city') }}
                                                </p>
                                            {% endif %}

                                            {% if booking.getConfig('shipping.deliveryDay') %}
                                                <h4>{{ "Core.ShopSystem.LabelDesiredDeliveryDate" | translate }}</h4>
                                                <p>
                                                    {{ booking.getConfig('shipping.deliveryDay') | date('d.m.Y') }}
                                                </p>
                                            {% endif %}

                                            {% if shopcart.getNewsletterConsent() %}

                                                <br />

                                                <h4>Newsletter</h4>

                                                <p>Sie haben dem Erhalt des Newsletters zugestimmt. Vielen Dank!</p>

                                            {% endif %}

                                        </td>
                                    </tr>
                                </table>

                                <br />

                                <h4>{{ "Core.ShopSystem.Plugins.Checkout.H4PaymentMethod" | translate }}</h4>

                                <p>{{ booking.getPaymentMethod().getTitleFinalForBooking(booking) | translate }}</p>

                                {{ paymentInfo | raw }}

                                <br />

                                {% if booking.getConfig('note') %}

                                    <h4>{{ "Core.ShopSystem.Plugins.Checkout.H3Note" | translate }}</h4>

                                    <p>{{ booking.getConfig('note') | nl2br }}</p>

                                    <br />
                                {% endif %}

                                {% if booking.getConfig('additionalinput') %}

                                    <p><b>zusätzliche Angaben</b></p>
                                    {% for index, input in booking.getConfig('additionalinput') %}
                                        {{ index }}: {{ input }}<br />
                                    {% endfor %}

                                    <br />
                                {% endif %}

                                <h4>{{ "Core.ShopSystem.Plugins.Checkout.H3Articles" | translate }}</h4>

                                <table width="100%" class="items" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>{{ "Core.ShopSystem.TableHeadItems" | translate }}</th>
                                            <th style="text-align: right;" class="text-right">{{ "Core.ShopSystem.TableHeadNumber" | translate }}</th>
                                            <th style="text-align: right;" class="text-right">{{ "Core.ShopSystem.TableHeadPrice" | translate }}</th>
                                            <th style="text-align: right;" class="text-right">{{ "Core.ShopSystem.TableHeadTotal" | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for item in booking.getItems() %}
                                        <tr>
                                            <td>
                                                {{ item.getTitle() }}

                                                {% for equipment in item.getEquipment() %}
                                                    <br />+ {{ equipment.title }}
                                                {% endfor %}

                                                {% for option in item.getFieldOptions() %}
                                                    <br />- {{ option.option }}{% if option.surcharge %} (+ {{ option.surcharge | number_format(2, ",", ".") }} &{{ currencySign }}o;){% endif %}
                                                {% endfor %}

                                                {% if item.getCustomNote() %}
                                                    <br />{{ item.getCustomNote() | nl2br }}
                                                {% endif %}

                                                {% if item.getAdditionalText() %}
                                                    <br />{{ item.getAdditionalText() | nl2br }}
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {{ item.getAmount() }} x
                                            </td>
                                            <td class="text-right">
                                                {% if netPrices %}
                                                    {{ item.getPrice() | number_format(2,',','.') }} {{ currencySign }}
                                                {% else %}
                                                    {{ item.getPriceGrossFinal() | number_format(2,',','.') }} {{ currencySign }}
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {% if netPrices %}
                                                    {{ item.getTotalNet() | number_format(2,',','.') }} {{ currencySign }}
                                                {% else %}
                                                    {{ item.getTotal() | number_format(2,',','.') }} {{ currencySign }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>

                                        {% for coupon in booking.getRedeemedCoupons() %}
                                            <tr>
                                                <td class="text-right" colspan="3">
                                                    Coupon „{{ coupon.getCode() }}“ ({% if coupon.getConfig('valuePercent') %}{{ coupon.getConfig('valuePercent') }} %{% else %}{{ coupon.getValueLeft() | number_format(2,',','.') }} {{ currencySign }}{% endif %})

                                                    <a class="coupon-dismiss" href="{{ data.plugin.getUriAjax('dismissCoupon', { couponCode: coupon.getCode() }) }}"><i class="fa fa-times"></i></a>
                                                </td>
                                                <td class="text-right">-{{ coupon.getRedeemedValue() | number_format(2,',','.') }} {{ currencySign }}</td>
                                            </tr>
                                        {% endfor %}

                                        <tr>
                                            <td class="text-right" colspan="3">{{ "Core.ShopSystem.TableFootShippingAndFees" | translate | raw }}</td>
                                            <td class="text-right">{{ booking.getShipping() | number_format(2,',','.') }} {{ currencySign }}</td>
                                        </tr>

                                        {% if netPrices %}
                                            <tr>
                                                <td class="text-right" colspan="3">Netto</td>
                                                <td class="text-right">{{ booking.getTotalNetItems() | number_format(2,',','.') }} {{ currencySign }}</td>
                                            </tr>
                                        {% endif %}


                                        {% for section in booking.getTaxSections() %}

                                            <tr>
                                                <td class="text-right tax" colspan="3">
                                                    {% if netPrices %}
                                                        zzgl. {{ section.taxrate }} % USt. auf {{ section.net | number_format(2,',','.') }} {{ currencySign }}
                                                    {% else %}
                                                        {{ "Core.ShopSystem.Plugins.Checkout.VatIncludedOn" | translate(section.taxrate, (section.total | number_format(2,',','.')) ) }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-right tax">{{ section.tax | number_format(2,',','.') }} {{ currencySign }}</td>
                                                {% if data.editable %}<td></td>{% endif %}
                                            </tr>

                                        {% endfor %}

                                        <tr>
                                            <td class="text-right" colspan="3"><b>{{ "Core.ShopSystem.TableFootTotal" | translate }}</b></td>
                                            <td class="text-right"><b>{{ booking.getTotal() | number_format(2,',','.') }} {{ currencySign }}</b></td>
                                        </tr>
                                    </tfoot>
                                </table>

                                {% if textBelow %}
                                    <p>{{ textBelow | raw | nl2br }}</p>
                                {% else %}
                                    <p>Wir bedanken uns für Ihren Einkauf und wünschen Ihnen viel Spass mit unseren Produkten!</p>
                                {% endif %}

                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

    </body>
</html>