{# config

title: Standard
variables:
    columns:
        type: int
        label: Spalten
        default: 3
    image_width:
        type: int
        label: Bildbreite
        default: 535
    image_height:
        type: int
        label: Bildhöhe
        default: 300
/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

{% if variables.columns == 1 %}
    {% set colClass = "col-12" %}
{% elseif variables.columns == 2 %}
    {% set colClass = "col-md-6" %}
{% elseif variables.columns == 3 %}
    {% set colClass = "col-md-4" %}
{% elseif variables.columns >= 4 %}
    {% set colClass = "col-md-3" %}
{% endif %}

{% set references = i.getReferences() %}

{% if references.getCount() > 0 %}
    <div class="row">
        <div class="col-12 plugin Core Images ReferencesTeaser Index01">

            <h2 data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

            <div data-editable data-uid="{{ plugin.getUid('teaser') }}"></div>

            <div class="references row justify-content-center">
                {% for reference in references %}
                    <div class="{{ colClass }}">
                        <div class="reference" data-href>
                            {% if not variables.noImage %}
                                <picture class="fluid" data-editable {% if variables.noImageDummy %}data-skipempty="1"{% endif %} data-uid="{{ reference.getUid('image') }}">
                                    <img width="{{ variables.image_width }}" height="{{ variables.image_height }}" src="{{ i.getDummyImage({ width: variables.image_width, height: variables.image_height | default(300) }) }}" alt="" />
                                </picture>
                            {% endif %}

                            <div class="text-pillow">
                                <h3 data-editable data-uid="{{ reference.getUid('title') }}">{{ reference.getTitle }}</h3>


                                <div data-nowidgets data-editable data-uid="{{ reference.getUid('teaser') }}"></div>

                                <p><a class="readmore" href="{{ reference.getUri() }}"><span>weiterlesen</span></a></p>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endif %}
