{% verbatim %}{# config

title: {% endverbatim %}{{ title }}{% verbatim %}
subtitle: {% endverbatim %}{{ subtitle }}{% verbatim %}
category: Template
_variables:
    imageHeight:
        label: Bildhöhe
        type: list
        options:
            350: Standard
            570: Hoch (Startseite)
        default: 350
_e_xtends: HerrUndFrauPixelExt/BlocksLibrary/Teaser

/config #}


{% set i = view.getViewhelper('Delegator', { object: block }) %}
{% set variables = block.getVariables() %}

{% set icons = view.getViewhelper('Ext/HerrUndFrauPixelExt/Icons/Icons', { createDummyOnFail: true  }) %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2 class="first main-title" data-editable data-uid="{{ block.getUid('title') }}">Überschrift</h2>

            <div data-editable data-uid="{{ block.getUid('text') }}"></div>

            <div class="background" data-width="1600" data-type="Images/Background" data-uid="{{ block.getUid('background')}}"></div>

            <div class="teasers">
                <div class="row">

                    {% for teaser in teasers %}
                        <div class="col-md-4">
                            <div class="teaser">

                                <picture data-editable data-uid="{{ teaser.getUid('image')}}">
                                    <img width="570" height="410" src="{{ i.getDummyImage({ width: 570, height: 410 }) }}" alt="" />
                                </picture>

                                <h4 class="first main-title" data-editable data-uid="{{ teaser.getUid('title') }}">{{ teaser.getTitle() }}</h4>

                                <div data-editable data-nowidgets data-uid="{{ teaser.getUid('text') }}"></div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endverbatim %}
