{% verbatim %}{# config

title: {% endverbatim %}{{ title }}{% verbatim %}
subtitle:
_variables:
    imageHeight:
        label: Bildhöhe
        type: list
        options:
            350: Standard
            570: Hoch (Startseite)
        default: 350
_e_xtends: HerrUndFrauPixelExt/BlocksLibrary/Teaser

/config #}


{% set i = view.getViewhelper('Delegator', { object: block }) %}
{% set variables = block.getVariables() %}

{% set icons = view.getViewhelper('Ext/HerrUndFrauPixelExt/Icons/Icons', { createDummyOnFail: true  }) %}


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2 class="first main-title" data-editable data-uid="{{ block.getUid('title') }}">Überschrift</h2>

            <div data-editable data-uid="{{ block.getUid('text') }}"></div>

            <picture data-editable data-uid="{{ block.getUid('image')}}">
                <img width="570" height="410" src="{{ i.getDummyImage({ width: 570, height: 410 }) }}" alt="" />
            </picture>

        </div>
    </div>
</div>

{% endverbatim %}

