{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
    'frame' : false,
}) }}

<form method="post" class="ajax" action="{{ plugin.getAdminUri('Link', 'ajaxUpdate', { linkId: link.getId() }) }}">

    <div class="modal-body">

        <div class="form-group">
            <label for="title">Titel</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Titel" value="{{ link.getTitle }}">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" required class="form-control" name="url" id="url" placeholder="URL" value="{{ link.getConfig('url') }}">
        </div>

        {{ v.injectPartial('\\Frootbox\\Admin\\View\\Partials\\Input\\Tags', {
            object: link
        }) | raw }}

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>

</form>