{# config

title: Standard
variables:

    image_width:
        type: int
        label: Bildbreite
        default: 535
    image_height:
        type: int
        label: Bildhöhe
        default: 300
    skipDetailsPage:
        type: bool
        label: keine Detailseite
    withMagnifier:
        type: bool
        label: mit Lupenfunktion

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set f = view.getViewhelper('Files') %}

{% if variables.columns == 1 %}
    {% set colClass = "col-12" %}
{% elseif variables.columns == 2 %}
    {% set colClass = "col-md-6" %}
{% elseif variables.columns == 3 %}
    {% set colClass = "col-md-4" %}
{% elseif variables.columns >= 4 %}
    {% set colClass = "col-md-3" %}
{% endif %}

{% if variables.withMagnifier %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endif %}

<div class="row">
    <div class="col-12 plugin Core Images References Index02">

        <div class="inner-wrapper">

            {% if plugin.isFirst %}
                <h1 data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h1>
            {% else %}
                <h2 data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>
            {% endif %}

            <div data-editable data-uid="{{ plugin.getUid('text') }}"></div>

            <div class="references">
                {% for reference in i.getReferences() %}
                    <div class="row reference" data-href>
                        <div class="col-md-4" {% if not variables.skipDetailsPage %}data-href{% endif %}>

                                {% if variables.withMagnifier %}<a href="{{ f.getFileByUid(reference.getUid('image')).getUriThumbnail() }}" data-fancybox="references-{{ plugin.getId() }}">{% endif %}
                                    <picture class="fluid" data-editable {% if variables.noImageDummy %}data-skipempty="1"{% endif %} data-uid="{{ reference.getUid('image') }}">
                                            <img width="{{ variables.image_width }}" height="{{ variables.image_height }}" src="{{ i.getDummyImage({ width: variables.image_width, height: variables.image_height | default(300) }) }}" alt="" />
                                    </picture>
                                {% if variables.withMagnifier %}</a>{% endif %}

                        </div>
                        <div class="col-md-8">
                            <h3 data-editable data-uid="{{ reference.getUid('title') }}">{{ reference.getTitle }}</h3>

                            <div data-nowidgets data-editable data-uid="{{ reference.getUid('teaser') }}"></div>

                            {% if not variables.skipDetailsPage %}
                                <p><a class="read-more" href="{{ reference.getUri() }}"><span>weiterlesen</span></a></p>
                            {% endif %}

                        </div>


                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>

