{# config

title: Tabelle
variables:
    withThumbnail:
        label: mit Bild
        type: bool
        default: false
    imageWidth:
        label: Bildbreite
        type: int
        default: 400
    imageHeight:
        label: Bildhöhe
        type: int
        default: 500
/config #}


{% set i = view.getViewhelper('Delegator', { object: widget }) %}

{% if widget.getConfig('withHeadline') %}
    <h4 data-editable data-uid="{{ widget.getUid('title-x') }}">Download</h4>
{% endif %}

{% set files = i.getFiles() %}

<table class="table no-header count-{{ files | length }}">
    <tbody>

        {% for file in files %}
            <tr>
                {% if variables.withThumbnail %}
                    <td width="{{ variables.imageWidth }}">
                        <picture class="fluid" data-editable data-uid="{{ file.getUid('image') }}">
                            <img width="{{ variables.imageWidth }}" height="{{ variables.imageHeight }}" src="{{ i.getDummyImage({ width: variables.imageWidth | default(400), height: variables.imageHeight | default(500) }) }}" alt="" />
                        </picture>
                    </td>
                {% endif %}
                <td>
                    <div data-href>
                        <!--<i class="fa {{ file.getIcon() }} fa-fw icon"></i>-->
                        <a href="{{ file.getUriDownload() }}">{{ file.getTitle }}</a>
                        <span class="meta">
                            {{ file.getSizeDisplay() }} (<em>{{ file.getExtension() }}</em>) <!--<i class="far fa-download"></i>-->
                        </span>
                    </div>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
