{# config

title: Standard
variables:
    withContainer:
        label: mit Layout-Container
        type: bool
        default: false

/config #}

{% set v = view.getViewhelper('View') %}
{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set p = view.getViewhelper('Partials', { plugin: plugin }) %}

{% set t = i.getTranslator() %}

{{ i.injectScript({ path: 'Checkout01/public/init.js'}) | raw }}

{{ v.asset('EXT:Core/ShopSystem/icons/css/all.css') | raw }}

<script nonce="{{ settings.nonce }}">
    if (typeof gtag != "undefined") {
        gtag('event', 'begin_checkout', {
            "items": [
                {% for item in items %}
                {
                {% if not loop.first %},{% endif %}{
                    "id": "{{ item.getItemNumber() | default(item.getProductId()) }}",
                    "name": "{{ item.getTitle() }}",
                    "quantity": {{ item.getAmount() }},
                    "price": '{{ item.priceGross() | number_format(2, ".") }}'
                }
                {% endfor %}
            ],
            "coupon": ""
        });
    }
</script>

<div class="plugin Core ShopSystem Checkout Index01">


    {% if variables.withContainer %}<div class="container">{% endif %}

    {{ p.renderPartial('\\Frootbox\\Ext\\Core\\ShopSystem\\Plugins\\Checkout\\Partials\\CartProgress', {
        plugin: plugin,
        step: 'Index'
    }) | raw }}

    <div class="row">
        <div class="col-12">

            <div class="inner-wrapper">

                <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

                <div data-editable data-uid="{{ plugin.getUid('teaser') }}"></div>

                {% if not plugin.isShopActive() %}
                    <div class="warning message">
                        <p>Der Warenkorb ist zur Zeit deaktiviert.</p>

                        {% if plugin.getConfig('shopInactive.to') %}
                            <p>Die Bestellung ist wieder möglich ab dem {{ plugin.getConfig('shopInactive.to') | date('d.m.Y') }}.</p>
                        {% endif %}
                    </div>
                {% endif %}

                <div id="itemsTableReceiver">
                    {{ p.renderPartial('ItemsTable', { plugin: plugin, shopcart: shopcart, editable: true }) | raw }}
                </div>

                {% if plugin.isShopActive() %}
                    <div class="row justify-content-between align-items-center">
                        <div class="col-6">
                            <a href="{{ plugin.getActionUri('continueShopping') }}" class="btn btn-secondary">{{ "Core.ShopSystem.ButtonGoBack" | translate }}</a>
                        </div>

                        {%  if shopcart.getItemCount() > 0 %}
                            <div class="col-6 text-right">
                                <a href="{{ plugin.getAjaxUri('proceedToLogin') }}" class="btn btn-primary">{{ "Core.ShopSystem.ButtonGoFurther" | translate }}</a>
                            </div>
                        {% endif %}

                    </div>
                {% endif %}

                {{ p.renderPartial('BasketFooter', { shopcart: shopcart, plugin: plugin }) | raw }}

            </div>

        </div>
    </div>

    {% if variables.withContainer %}</div>{% endif %}

</div>
