{# config

title: Standard
variables:
    withContainer:
        label: mit Container
        type: bool
        default: false

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

<script nonce="{{ settings.nonce }}">
    $(function ( ) {
        localStorage.setItem('fbxShopCartItemCount', null);
        $('.fbxShopCartItemCounter').hide();

        gtag('event', 'conversion', {
            'send_to': 'AW-10924757133/Uou3CNyW15cYEI2hqtko',
            'value': {{ booking.getTotal() | number_format(2, ".") }},
            'currency': 'EUR',
            'transaction_id': '{{ booking.getId() }}'
        });
    });



    /*
    gtag('event', 'purchase', {
        "transaction_id": "{{ booking.getConfig('orderNumber') }}",
        "value": {{ booking.getTotal() | number_format(2, ".") }},
        "currency": "{{ currencySign }}",
        "tax": {{ booking.getTax() }},
        "shipping": {{ booking.getShipping() | number_format(2, ".") }},
        "items": [
            {% for item in booking.getItems() %}

                {% if not loop.first %},{% endif %}{
                "id": "{{ item.getItemNumber() | default(item.getProductId()) }}",
                "name": "{{ item.getTitle() }}",
                "quantity": {{ item.getAmount() }},
                "price": '{{ item.priceGross() | number_format(2, ".") }}'
            }
            {% endfor %}
        ]
    });
    */
</script>


<div class="plugin Core ShopSystem Checkout Complete01">

    {% if variables.withContainer %}<div class="container">{% endif %}

    <div class="row">
        <div class="col-12">

            <div class="inner-wrapper">

                <h1 data-editable data-uid="{{ plugin.getUid('titleCompleted') }}">{{ "Core.ShopSystem.Plugins.Checkout.H2OrderCompleted" | translate }}</h1>

                {% if not plugin.getAttribute('mailSent') %}
                    <div style="margin: 20px 0; padding: 15px; border: 1px solid red; color: red;">Die E-Mail best채tigung konnte nicht gesendet werden. Die Bestellung ist trotzdem bei uns eingegangen. Notieren Sie f체r R체ckfragen bitte die Bestell-ID {{ plugin.getAttribute('bookingId') }}.</div>
                {% endif %}

                <div data-editable data-uid="{{ plugin.getUid('text-complete') }}">
                    <p>Ihre Buchung ist abgeschlossen. Sie haben eine Zusammenfassung der bestellten Artikel per E-Mail erhalten.</p><p>Wir bedanken uns f체r Ihr Interesse.</p>
                </div>

                <h3 data-editable data-uid="{{ plugin.getUid('titleCompletedBooking') }}">{{ "Core.ShopSystem.Plugins.Checkout.H2OrderCompleted" | translate }}</h3>

                <p>{{ "Core.ShopSystem.Plugins.Checkout.Field.OrderNumber" | translate }}: {{ booking.getConfig('orderNumber') }}</p>

                {% if not plugin.getConfig('skipShipping') %}

                    {% if booking.getConfig('shipping.type') == "selfPickup" %}
                        {% if booking.getConfig('shipping.deliveryDay') %}
                            <p><b>{{ "Core.ShopSystem.Plugins.Checkout.LabelPreferredPickupDate" | translate }}</b><br />
                                {{ booking.getConfig('shipping.deliveryDay') | date('d.m.Y') }}</p>
                        {% endif %}
                    {% elseif booking.getConfig('shipping.street') %}

                        <br />

                        <iframe src="https://maps.google.com/maps?q={{ booking.getConfig('shipping.street') }} {{ booking.getConfig('shipping.streetNumber') }}, {{ booking.getConfig('shipping.postalCode') }} {{ booking.getConfig('shipping.city') }}&output=embed" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                        <br /><br />

                        <div class="text-center">
                            <p>
                                <b>{{ "Core.ShopSystem.H3DeliveryAddress" | translate }}</b><br />
                                {{ booking.getConfig('shipping.firstname') }} {{ booking.getConfig('shipping.lastname') }}<br />
                                {{ booking.getConfig('shipping.street') }} {{ booking.getConfig('shipping.streetNumber') }}, {{ booking.getConfig('shipping.postalCode') }} {{ booking.getConfig('shipping.city') }}
                            </p>

                            {% if booking.getConfig('shipping.deliveryDay') %}
                                <p>
                                    <b>{{ "Core.ShopSystem.LabelDesiredDeliveryDate" | translate }}</b><br />
                                    {{ booking.getConfig('shipping.deliveryDay') | date('d.m.Y') }}
                                </p>
                            {% endif %}
                        </div>
                    {% else %}

                        <br />

                        <iframe src="https://maps.google.com/maps?q={{ booking.getConfig('personal.street') }} {{ booking.getConfig('personal.streetNumber') }}, {{ booking.getConfig('personal.postalCode') }} {{ booking.getConfig('personal.city') }}&output=embed" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                        <br /><br />

                        <div class="text-center">
                            <p>
                                <b>{{ "Core.ShopSystem.H3DeliveryAddress" | translate }}</b><br />
                                {{ booking.getConfig('personal.firstname') }} {{ booking.getConfig('personal.lastname') }}<br />
                                {{ booking.getConfig('personal.street') }} {{ booking.getConfig('personal.streetNumber') }}, {{ booking.getConfig('personal.postalCode') }} {{ booking.getConfig('personal.city') }}
                            </p>

                            {% if booking.getConfig('shipping.deliveryDay') %}
                                <p><b>{{ "Core.ShopSystem.LabelDesiredDeliveryDate" | translate }}</b><br />
                                {{ booking.getConfig('shipping.deliveryDay') | date('d.m.Y') }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}

                <br />

                <h3>{{ "Core.ShopSystem.Plugins.Checkout.H3Articles" | translate }}</h3>

                <br />

                <table class="table positions">
                    <thead>
                        <tr>
                            <th>{{ "Core.ShopSystem.TableHeadItems" | translate }}</th>
                            <th class="text-right">{{ "Core.ShopSystem.TableHeadNumber" | translate }}</th>
                            <th class="text-right">{{ "Core.ShopSystem.TableHeadPrice" | translate }}</th>
                            <th class="text-right">{{ "Core.ShopSystem.TableHeadTotal" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for item in booking.getItems() %}
                            <tr>
                                <td>
                                    <b>{{ item.getTitle() }}</b>

                                    {% for equipment in item.getEquipment() %}
                                        <br />+ {{ equipment.title }}
                                    {% endfor %}

                                    {% for option in item.getFieldOptions() %}
                                        <br />- {{ option.option }}{% if option.surcharge %} (+ {{ option.surcharge | number_format(2, ",", ".") }} &{{ currencySign }}o;){% endif %}
                                    {% endfor %}

                                    {% if item.getCustomNote() %}
                                        <br />{{ item.getCustomNote() | nl2br }}
                                    {% endif %}

                                    {% if item.getAdditionalText() %}
                                        <br />{{ item.getAdditionalText() | nl2br }}
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ item.getAmount() }} x</td>
                                <td class="text-right">{{ item.priceGrossFinal() | number_format(2, ",") }} {{ currencySign }}</td>
                                <td class="text-right">{{ item.getTotal() | number_format(2, ",") }} {{ currencySign }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                    <tfoot>

                        {% if not plugin.getConfig('skipShipping') %}
                            <tr>
                                <td class="text-right" colspan="3">{{ "Core.ShopSystem.TableFootShippingAndFees" | translate }}</td>
                                <td width="160" class="text-right">{{ booking.getShipping() | number_format(2, ",") }} {{ currencySign }}</td>
                            </tr>
                        {% endif %}

                        {% for section in booking.getTaxSections() %}
                            <tr>
                                <td class="text-right" colspan="3">
                                    {{ "Core.ShopSystem.Plugins.Checkout.VatIncludedOn" | translate(section.taxrate, (section.total | number_format(2,',','.')) ) }}
                                </td>
                                <td class="text-right" nowrap>{{ section.tax | number_format(2, ",") }} {{ currencySign }}</td>
                            </tr>
                        {% endfor %}

                        {% for couponData in booking.getCoupons() %}
                            <tr>
                                <td class="text-right" colspan="3">Coupon {{ couponData.code }}</td>
                                <td class="text-right" nowrap>-{{ couponData.redeemedValue | number_format(2, ",") }} {{ currencySign }}</td>
                            </tr>
                        {% endfor %}


                        <tr>
                            <td class="text-right" colspan="3"><b>{{ "Core.ShopSystem.TableFootTotal" | translate }}</b></td>
                            <td class="text-right" nowrap><b>{{ booking.getTotal() | number_format(2, ",", ".") }} {{ currencySign }}</b></td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>

    {% if variables.withContainer %}</div>{% endif %}

</div>