{% set i = view.getViewhelper('Delegator', { object: widget }) %}
{% set a = view.getViewhelper('Assets', {   }) %}

{% set images = i.getImages() %}

{% if images.getCount > 0 %}

    {% set columns = widget.getConfig('imageColumns') | default('4') %}

    {% if columns == '1' %}
        {% set colClass = 'col-12' %}
    {% elseif columns == '2' %}
        {% set colClass = 'col-6 col-md-6' %}
    {% elseif columns == '3' %}
        {% set colClass = 'col-6 col-md-4' %}
    {% elseif columns == '4' %}
        {% set colClass = 'col-6 col-md-3' %}
    {% elseif columns == '5' %}
        {% set colClass = 'col-6 five-cols' %}
    {% elseif columns == '6' %}
        {% set colClass = 'col-6 col-md-2' %}
    {% else %}
        {% set colClass = 'col-6 col-md' %}
    {% endif %}

    {% if not widget.getConfig('noMagnifier') %}
        {{ a.import('https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css') | raw }}
        {{ a.import('https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js') | raw }}
    {% endif %}

    <div class="row justify-content-center">
        {% for image in images %}
            <div class="image {{ colClass }} {% if not widget.getImageWidth() or not widget.getImageHeight() %}align-self-center{% endif %} condensed">


                {% if image.getConfig('link') %}
                    <a href="{{ image.getConfig('link') }}">
                {% elseif not widget.getConfig('noMagnifier') %}
                        <a href="{{ image.getUriThumbnail() }}" data-fancybox="gallery" data-caption="{{ image.getConfig('caption') }}">
                {% endif %}

                    <picture class="fluid" data-linkable data-fileid="{{ image.getId() }}">
                        <img {% if widget.getImageWidth() > 0 %}width="{{ widget.getImageWidth() }}"{% endif %} {% if widget.getImageHeight() > 0 %}height="{{ widget.getImageHeight() }}"{% endif %} class="img-fluid" src="{{ image.getUri({ width: widget.getImageWidth(), height: widget.getImageHeight() }) }}" alt="{{ image.getAlt() }}" />
                    </picture>

                    {% if image.getTitleReal() %}
                        <span class="title">{{ image.getTitleReal }}</span>
                    {% endif %}

                {% if not widget.getConfig('noMagnifier') or image.getConfig('link') %}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
