{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<nav class="admin-apps">

    <ul>
        {% if user.getType() == "Admin" or user.getType() == "SuperAdmin" %}
            <li class="app-sitemap"><a href="{{ v.getUri('Sitemap') }}"><i class="far fa-sitemap fa-fw"></i> Sitemap</a></li>
        {% endif %}

        <li class="app-editmode"><a target="editMode" href="{{ serverpath }}edit"><i class="far fa-pencil fa-fw"></i> Bearbeitungsmodus</a></li>

        {% if user.getType() == "Admin" or user.getType() == "SuperAdmin" %}
            <li class="app-navigations"><a href="{{ v.getUri('NavigationBars') }}"><i class="far fa-list fa-fw"></i> Navigationen</a></li>
            <li class="app-extensions"><a href="{{ v.getUri('Extensions') }}"><i class="far fa-puzzle-piece fa-fw"></i> Erweiterungen</a></li>
        {% endif %}

        {% for app in v.getMenue() %}
            <li><a href="{{ v.getUri('App', 'index', { appId: app.getId() }) }}"><i class="far {{ app.getIcon() | default('fa-puzzle-piece') }} fa-fw"></i> {{ app.getTitle() }}</a></li>
        {% endfor %}
    </ul>

</nav>
