{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{% set partialId = 'partial' ~ random(100000, 999999) %}

<script nonce="{{ settings.nonce }}">

    var _FrootboxBlocksSearchCooldown;

    $(function ( ) {

        $('#{{ partialId }}').keyup(function ( event ) {

            event.preventDefault();
            event.stopImmediatePropagation();

            if ($(this).attr('data-cooldown')) {
                window.clearTimeout($(this).attr('data-cooldown'));
            }

            var input = $(this);

            if (input.val().length == 0) {

                window.clearTimeout(_FrootboxBlocksSearchCooldown);

                $('#siteSearchResultsFlyer').remove();

                return;
            }

            _FrootboxBlocksSearchCooldown = window.setTimeout(function ( ) {

                $('#siteSearchResultsFlyer').remove();

                $.ajax({
                    url : "{{ v.getUri('Search', 'ajaxSearchLinks') }}",
                    type : 'GET',
                    headers: {
                        Accept: "application/json; charset=utf-8",
                    },
                    data : {
                        q : input.val()
                    },
                    success : function ( response ) {

                        input.after('<div id="siteSearchResultsFlyer">');

                        $.each(response.result, function ( index, result ) {

                            $('#siteSearchResultsFlyer').append('<a data-url="' + result.url + '" data-alias="' + result.alias + '" href="{{ serverpath }}' + result.alias + '">' + result.label + '</a>');
                        });

                        $('#siteSearchResultsFlyer a').click(function ( event ) {

                            event.preventDefault();
                            event.stopImmediatePropagation();

                            $('#{{ partialId }}Value').val($(this).attr('data-url'));

                            input.val($(this).html());

                            $('#siteSearchResultsFlyer').fadeOut();

                            input.focus();
                        })
                    }
                });

            }, 500);

            $(this).attr('data-cooldown', _FrootboxBlocksSearchCooldown);
        });

    });
</script>

<style>
    #siteSearchResultsFlyer {
        position: absolute;
        z-index: 10000;
        background: #FFF;
    }

    #siteSearchResultsFlyer a {
        display: block;
        padding: 3px 10px;
        border-bottom: 1px solid #CCC;
    }
</style>

<div class="form-group">
    <label for="{{ partialId }}">{{ data.label | default('Suchwort') }}</label>
    <input autocomplete="off" type="text" class="form-control" id="{{ partialId }}" name="searchInput" aria-describedby="emailHelp" placeholder="Suchwort eingeben ..." value="{{ data.value }}">
    <input type="hidden" value="{{ data.value }}" name="{{ data.targetInput | default('targetInput') }}" id="{{ partialId }}Value" />
    {# <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> #}
</div>