
<html>
    <head>

        <style>
            body, td, th {
                font-family: Arial;
                font-size: 14px;
            }

            table.datagrid {
                width: 100%;
                margin: 30px 0;
                border-spacing: 0px;
            }

            table tbody tr:first-of-type td {
                border-top: 1px solid #CCC;
            }

            table tbody td {
                border-bottom: 1px solid #CCC;
                padding: 10px 0;
            }

            table tbody td.title {
                padding-right: 15px;
                font-weight: bold;
            }

        </style>
    </head>
    <body>

        {% block textTop %}
            <p>
                Hallo {{ booking.getConfig('owner.firstName') }} {{ booking.getConfig('owner.lastName') }},
            </p>

            <p>
                Sie haben über unsere Website folgende Veranstaltung gebucht:
            </p>
        {% endblock %}

        <table class="datagrid">
            <tbody>
                <tr>
                    <td width="30%">Veranstaltung</td>
                    <td>{{ event.getTitle }}</td>
                </tr>
                <tr>
                    <td>Buchungsnummer</td>
                    <td>{{ random(100, 999) }}-{{ booking.getId() }}-{{ random(100, 999) }}</td>
                </tr>
                <tr>
                    <td>Datum</td>
                    <td>{{ event.getDateStart() | date('d.m.Y') }} {{ event.getDateStart() | date('H:i') }}–{{ event.getDateEnd() | date('H:i') }} Uhr</td>
                </tr>

                {% if event.getVenue() %}
                    <tr>
                        <td>Veranstaltungsort</td>
                        <td>{{ event.getVenue().getTitle() }}</td>
                    </tr>
                {% endif %}

                {% if not plugin.getConfig('alwaysBookCompleteEvent') %}
                    <tr>
                        <td>Plätze</td>
                        <td>{{ booking.getConfig('persons') }}</td>
                    </tr>
                {% endif %}

            </tbody>
        </table>

        {% if booking.getConfig('note') %}
            <p>
                <b>Bemerkung</b>
            </p>

            <p>{{ booking.getConfig('note') | nl2br }}</p>
            <br />
        {% endif %}

        <p>
            <b>Persönliche Daten</b>
        </p>

        <table class="datagrid">
            <tbody>
                <tr>
                    <td width="30%">Name</td>
                    <td>
                        {{ booking.getConfig('owner.firstName') }} {{ booking.getConfig('owner.lastName') }}
                    </td>
                </tr>

                {% block ownerCompany %}
                    {% if booking.getConfig('owner.company') %}
                        <tr>
                            <td>Firma</td>
                            <td>
                                {{ booking.getConfig('owner.company') }}
                            </td>
                        </tr>
                    {% endif %}
                {% endblock %}

                <tr>
                    <td>Straße</td>
                    <td>
                        {{ booking.getConfig('owner.street') }} {{ booking.getConfig('owner.streetNumber') }}
                    </td>
                </tr>
                <tr>
                    <td>Ort</td>
                    <td>
                        {{ booking.getConfig('owner.zipCode') }} {{ booking.getConfig('owner.city') }}
                    </td>
                </tr>
                <tr>
                    <td>E-Mail</td>
                    <td>
                        {{ booking.getConfig('owner.email') }}
                    </td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td>
                        {{ booking.getConfig('owner.phone') }}
                    </td>
                </tr>
            </tbody>
        <table>


        {% if booking.getConfig('invoice') %}
            <p>
                <b>Rechnungsempfänger</b>
            </p>

            <table class="datagrid">
                <tbody>
                    <tr>
                        <td width="30%">Name</td>
                        <td>
                            {{ booking.getConfig('invoice.firstName') }} {{ booking.getConfig('invoice.lastName') }}
                        </td>
                    </tr>

                    {% if booking.getConfig('invoice.company') %}
                        <tr>
                            <td>Firma</td>
                            <td>
                                {{ booking.getConfig('invoice.company') }}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td>Straße</td>
                        <td>
                            {{ booking.getConfig('invoice.street') }} {{ booking.getConfig('invoice.streetNumber') }}
                        </td>
                    </tr>
                    <tr>
                        <td>Ort</td>
                        <td>
                            {{ booking.getConfig('invoice.zipCode') }} {{ booking.getConfig('invoice.city') }}
                        </td>
                    </tr>
                </tbody>
            <table>
        {% endif %}

        {% if booking.getConfig('payment') %}

            <p>
                <b>Zahlungsinformationen</b>
            </p>

            <table class="datagrid">
                <tbody>
                    <tr>
                        <td width="30%" class="title">Zahlungsart</td>
                        <td>{{ translator.translate("Payment" ~ booking.getConfig('payment.type')) }}</td>
                    </tr>
                </tbody>
            </table>

            {% if booking.getConfig('payment.type') == 'Voucher' %}
                    <table class="datagrid">
                        <tbody>
                        <tr>
                            <td width="30%" class="title">Zahlungsart</td>
                            <td>Gutschein ist vorhanden. Bitte zum Kurs mitbringen.</td>
                        </tr>
                        </tbody>
                    </table>
            {% elseif booking.getConfig('payment.type') == 'PaymentInAdvance' %}
                <table class="datagrid">
                    <tbody>
                    <tr>
                        <td width="30%" class="title">Zahlungsart</td>
                        <td>
                            <p><b>Vorkasse</b></p>

                            {% if translator.hasKey('Core.Events.PaymentMethods.PaymentInAdvance.Summary') %}
                                <p>{{ translator.translate('Core.Events.PaymentMethods.PaymentInAdvance.Summary', [ (booking.getTotal()|number_format(2, ',', '.')), booking.getId() ]) | raw }}</p>
                            {% else %}
                                <p>Überweisen Sie den Rechnungsbetrag an die angegebene Kontonummer in der Buchungsbestätigung.</p>
                            {% endif %}

                        </td>
                    </tr>
                    </tbody>
                </table>
            {% elseif booking.getConfig('payment.type') == 'Debit' %}

                <table class="datagrid">
                    <tbody>
                        <tr>
                            <td width="30%" class="title">Zahlungsart</td>
                            <td>Zahlung per Lastschrift</td>
                        </tr>
                        <tr>
                            <td class="title">Konto</td>
                            <td>{{ booking.getConfig('payment.account.iban') }}</td>
                        </tr>
                        <tr>
                            <td class="title">BIC</td>
                            <td>{{ booking.getConfig('payment.account.bic') }}</td>
                        </tr>
                        <tr>
                            <td class="title">Bank</td>
                            <td>{{ booking.getConfig('payment.account.bank') }}</td>
                        </tr>
                        <tr>
                            <td class="title">Kontoinhaber</td>
                            <td>{{ booking.getConfig('payment.account.owner') }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}

        {% endif %}

        {% block textBottom %}

        {% endblock %}

    </body>
</html>