{# config

title: Standard
variables:
    withContainer:
        label: mit Container
        type: bool
        default: false
    skipSundayMobile:
        label: Sonntag mobil ausblenden
        type: bool
    skipSaturdayMobile:
        label: Samstag mobil ausblenden
        type: bool

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}


<div class="plugin Core ShopSystem Checkout ChoiceOfDelivery01">

    {% if variables.withContainer %}<div class="container">{% endif %}

        {{ p.renderPartial('\\Frootbox\\Ext\\Core\\ShopSystem\\Plugins\\Checkout\\Partials\\CartProgress', {
            plugin: plugin,
            step: 'ChoiceOfDelivery'
        }) | raw }}

        <div class="row">
            <div class="col-12">

                {% if shopcart.getShipping('type') == "selfPickup" %}
                    <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('titleDeliveryDay') }}">Abholtag wählen</h2>
                {% else %}
                    <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('titleDeliveryDay') }}">
                        {{ "Core.ShopSystem.H2SelectDeliveryDay" | translate }}
                    </h2>
                {% endif %}

                <div class="info-text-above" data-editable data-uid="{{ plugin.getUid('textDeliveryDay') }}"></div>

                <div class="row">
                    <div class="col-md-6">

                        <form action="{{ plugin.getActionUri('choiceOfDelivery') }}" method="post">

                            <div class="form-group">
                                <label for="month">{{ "Core.ShopSystem.LabelSelectMonth" | translate }}</label>
                                <select class="form-control" id="month" name="month">
                                    {% for month in monthList %}
                                        <option {% if selectedMonthString == month.format('Y-m') %}selected{% endif %} value="{{ month.format('Y-m-d') }}">{{ ("Core.ShopSystem.Month" ~ month.format('m')) | translate }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </form>

                        {#
                        <form action="{{ plugin.getAjaxUri('UpdateDeliveryDay') }}" method="post">

                            <div class="form-group">
                                <label for="deliveryDay">{{ "Core.ShopSystem.LabelSelectDay" | translate }}</label>
                                <select class="form-control" id="deliveryDay" name="deliveryDay">

                                    {% for date in dayList %}
                                        <option {% if selectedDayString == date.format('Y-m-d') %}selected{% endif %} value="{{ date.format('Y-m-d') }}">{{ date.format('d.m.Y') }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">{{ "Core.ShopSystem.H2SelectDeliveryDay" | translate }}</button>

                        </form>
                        #}

                    </div>
                </div>

                <h3>{{ "Core.ShopSystem.Plugins.Checkout.H3ChooseDeliveryDay" | translate }}</h3>


                <table class="calendar {% if variables.skipSaturdayMobile %}skip-saturday-mobile{% endif %} {% if variables.skipSundayMobile %}skip-sunday-mobile{% endif %}">
                    <thead>
                        <tr>
                            <th>
                                <span class="content">Mo</span>
                            </th>
                            <th>
                                <span class="content">Di</span>
                            </th>
                            <th>
                                <span class="content">Mi</span>
                            </th>
                            <th>
                                <span class="content">Do</span>
                            </th>
                            <th>
                                <span class="content">Fr</span>
                            </th>
                            <th class="day-6">
                                <span class="content">Sa</span>
                            </th>
                            <th class="day-7">
                                <span class="content">So</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in weeks %}
                            <tr>
                                {% for day in week.days %}
                                    <td class="day-{{ loop.index }}">
                                        {% if day.isActive %}
                                            <a href="{{ plugin.getAjaxUri('UpdateDeliveryDay', { deliveryDay: (day.date | date('Y-m-d')) }) }}" class="day">
                                                <span class="content">
                                                    {{ day.date | date('d.m.') }}
                                                </span>
                                            </a>
                                        {% else %}
                                            <span class="day">
                                                <span class="content">
                                                    {{ day.date | date('d.m.') }}
                                                </span>
                                            </span>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    {% if variables.withContainer %}</div>{% endif %}

</div>
