{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}


<table class="table" data-sort="{{ data.plugin.getAdminUri('Contact', 'ajaxSort') }}">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        {% for contact in contacts %}
            <tr id="row-{{ contact.getId() }}" data-title="Kontaktperson bearbeiten" class="{% if data.highlight == contact.getId() %}highlighted{% endif %}" data-size="xl" data-modal="{{ data.plugin.getAdminUri('Contact', 'ajaxModalEdit', { contactId: contact.getId() }) }}">
                <td>{{ contact.getFirstName() }}</td>
                <td>{{ contact.getLastName() }}</td>
                <td class="handle">
                    <i class="fa fa-grip-lines"></i>
                </td>
                <td class="text-right">
                    <a class="ajax" data-toggle="tooltip" title="Ansprechperson aktivieren/deaktivieren" href="{{ data.plugin.getAdminUri('Contact', 'ajaxSwitchVisible', { contactId: contact.getId() }) }}"><i data-contact="{{ contact.getId() }}" class="fa fa-lightbulb icon visibility visibility-{{ contact.getVisibility() }}"></i></a>
                    <a data-toggle="tooltip" data-title="Mitarbeiter im Frontend bearbeiten" target="edit-contact-{{ contact.getId() }}" href="{{ plugin.getAdminUri('Contact', 'jumpToEdit', { contactId: contact.getId() }) }}"><i class="far fa-pencil icon"></i></a>
                    <a data-toggle="tooltip" data-title="Mitarbeiter löschen" class="ajax" data-confirm="Soll dieser Ansprechpartner wirklich gelöscht werden?" href="{{ data.plugin.getAdminUri('Contact', 'ajaxDelete', { contactId: contact.getId() }) }}"><i class="far fa-trash icon"></i></a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>